/* ---------header begin------------*/
html{background:#fff }
body{margin:0 auto;width:100%;font:12px/18px Verdana, "Lucida Grande", Geneva, Arial, sans-serif;color: #666;}
*{outline:none;}
h1,h2,h3,h4,p,ul,li{margin:0;padding:0;font-size:12px;color:#666;}
li{list-style:none;}
.w960{width:960px;margin:0 auto;}
.w100{width:100%;}
.nav{background:#0c4873;height:37px;margin-top:10px;}
.w100 .nav h1{height:37px;line-height:37px;color:#fff;width:960px;margin:0 auto;font-size:14px;}
.overflow{overflow:hidden;}
.left{float:left;}
.right{float:right;}
img{border:0px;}
.img{border:1px #D8D8D8 solid; padding:2px;}
a,a:link{color: #2f2f2f;text-decoration:none;}
a:hover{text-decoration:underline;}
.border{border:1px #D8D8D8 solid;}
.header{height:100px;background:#fff;text-align:center;border-left:0px;border-right:0px;}
.header h1{margin-top:30px;font-size:18px;}
.title{height:40px;color:#000;font-weight:400;font-size:18px;margin:0px 0px 0px 0px;line-height:40px;}
.title span{font-size:12px;}
pre{font-family:Monaco, Verdana, Sans-serif;font-size:12px;border:1px solid #D0D0D0;background:#F9F9F9;overflow:auto;color:#002166;padding:12px 10px 12px 10px;margin:14px 0 14px 0;line-height:180%;}
/* ---------header begin------------*/


/* ---------blog left 列表 begin------------*/
.left{width:70%;margin-left:2%;}
.left .blog_list,.left .blog_info{width:99%;background:#fff;}
.left .blog_info{padding:10px 20px}
.left .blog_list .blog{padding:10px 20px;height:100%;line-height:30px;font-size:14px;}
.left .blog_list .blog h3.title{margin:8px 0;height:33px;line-height:35px;font-size:22px;}
.left .blog_list .blog h3 a{color:#1E50A2;}
.left .blog_list .blog .dtime{line-height:20px;font-size:12px;color:#999;border-bottom:1px dashed #D8D8D8;padding-bottom:5px;}
.left .blog_list .blog .dtime a{color:#1E50A2;}
.left .blog_list .blog .box{padding:10px 0;text-indent:2em;border-bottom:1px #ccc dotted;font-size:12px;color:#666;}
.left .blog_list .blog:hover{background:#f8f8f8;}
.left .blog_list .blog .box p{font-size:14px;}
.left .blog_list .blog .box p.body{float:left;}
.left .blog_list .blog .box img{float:right;margin:10px 0px 5px 10px;width:120px;}

/* ---------blog left 正文 begin------------*/
.left .blog_info h1{margin:8px 0;height:33px;line-height:35px;font-size:22px;text-align:center;color:#336699;}
.left .blog_info div.body,.left .blog_info div.body *{padding:5px;font-size:15px;line-height:230%;}
.left .blog_info .tags{background:#FDFBDB;border:1px dashed gray;margin:0 5px;padding:5px;}
.left .blog_info .tags a{margin:0px 10px 0px 10px;color:#336699;font-weight:700;font-size:16px;}

/* -------- blog left plugins 正文 -----------*/
.left .plugins{padding:10px;padding-left:0px;font-family:Lucida Grande, Verdana, Geneva, Sans-serif, 宋体;}
.left .plugins h1{color:#E13300;border-bottom:1px solid #666;font-weight:normal;font-size:24px;margin:10px 0 20px 0;padding:3px 0 7px 0px;}
.left .plugins h2{color:#333;font-size:16px;font-weight:bold;margin:20px 0 15px 0;padding:0 0 0 0;border-bottom:1px dotted #666;padding-bottom:7px;}
.left .plugins *{font-size:14px;}
.left .plugins ul{margin:20px 0 12px 20px;}
.left .plugins li{margin-bottom:9px;text-align:-webkit-match-parent;font-size:14px;overflow:hidden;background:url(../images/arrow.gif) left center no-repeat;padding-left:20px;}
.left .plugins li span.dist{float:left;}
.left .plugins li span.dist_left{width:200px;}
.left .plugins a{color:#0134C5;}
.left .plugins h4{background:#FBE6F2;border:1px solid #D893A1;color:#333;margin:10px 0 5px 0;padding:10px;}
.left .plugins .logo{text-align:center;padding:10px;}
.left .plugins p{margin-top:10px;}
.left .plugins img{border:1px #ccc solid; padding:3px;}

/* ---------blog right begin------------*/
.right{width:22%;margin-top:40px;margin-right:2%;}
.right h2{background:#47505F;border-bottom:2px solid #2F353F;color:#fff;padding:5px 0px 5px 5px;font-weight:normal;font-size:14px;text-align:center;}
.right .class_list ul{padding:5px;}
.right .class_list ul li{border-bottom:1px solid #EEE;padding:5px 0px;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;}
.right .class_list ul li a{color:#06C;}
.right .class_list .folder li{background:url(../images/icon_folder.gif) 0% 4px no-repeat;padding-left:20px;}
.right .class_list .data li{background:url(../images/icon_date.gif) 0% 4px no-repeat;padding-left:20px;}

/* --------- 分页 ------------*/
.page{overflow:hidden;float:right;}
.page .button_list{float:left;line-height: 37px;}
.page .pages{color: #555;line-height: 37px;overflow: hidden;float:right;}
.page select{color:#555;}
.page a,.page .page_css,.page span{display: inline-block;padding: 3px 7px;margin: 7px 3px 0;line-height: 1.231;border: 1px solid #D6D6D6;font-style: normal;font-weight:lighter;background:#fff;color:#555}
.page span,.page a:hover{font-weight:bold;background:#336699;color:#fff;border-color:#fff;}


/* 底 部 */
#bottom{border-top:1px #D8D8D8 solid;margin-top:20px;color:#787878;line-height:30px;text-align:right;}
#bottom div{width:98%;margin:0 auto;}
#bottom span{float:left;}
#bottom a{color:#787878}
