<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>ZCMS安装文件</title>
<style>
*{font-size:12px;}
body{margin:0;padding:0px;background:#333;}
table th, legend{color:#fff;}
table span{color:#fff;}
legend{font-size:14px;font-weight:bold;}
fieldset{width:800px;margin:0 auto;margin-top:10px;}
.logo{width:312px;margin:0 auto;}
</style>
</head>
<body>
<div class="logo"><img src="template/logo.jpg"/></div>
<form action="?c=info" method="post" id="myform">
<fieldset>
	<legend>数据库安装</legend>
	<table width="100%"  class="table_form">
		<tr>
			<th width="80">数据库地址：</th>
			<td class="y-bg">
			<input type="text" class="input-text" name="zcms_config[dbhost]" id="dbhost" value="<?php if (!empty($dbhost)) {echo $dbhost ;}else{echo 'localhost';}?>" size="30" />
			<span>数据库服务器地址, 一般为 localhost</span>
			</td>
		</tr>
		<tr>
			<th>数据库帐号：</th>
			<td class="y-bg"><input type="text" class="input-text" name="zcms_config[dbuser]" id="dbuser" value="<?php echo$dbuser ;?>" size="30" /></td>
		</tr>
		<tr>
			<th>数据库密码：</th>
			<td class="y-bg"><input type="password" class="input-text" name="zcms_config[dbpw]" id="dbpw" value="<?php echo$dbpw ;?>" size="30" /></td>
		</tr>
		<tr>
			<th>数据库名称：</th>
			<td class="y-bg"><input type="text" class="input-text" name="zcms_config[dbname]" id="dbname" value="<?php echo$dbname ;?>" size="30" /></td>
		</tr>
		<tr>
			<th>数据表前缀：</th>
			<td class="y-bg"><input type="text" class="input-text" name="zcms_config[cookievarpre]" id="cookievarpre" value="<?php if (!empty($cookievarpre)){echo $cookievarpre ;}else{echo 'z_';}?>" size="30" /></td>
		</tr>
	</table>
</fieldset>
<div class="bk15"></div>
<fieldset>
	<legend>网站基本配置</legend>
	<table width="100%"  class="table_form">
		<tr>
			<th width="80">网站名称：</th>
			<td class="y-bg"><input type="text" class="input-text" name="web_config[webname]" id="webname" value="<?php echo $webname ;?>" size="30" /></td>
		</tr>
		<tr>
			<th>网站域名：</th>
			<td class="y-bg">
			<input type="text" class="input-text" name="web_config[weburl]" id="weburl" value="<?php echo $weburl ;?>" size="30" />
			<span>请以http://开头</span>
			</td>
		</tr>

	</table>
</fieldset>
<div class="bk15"></div>
<fieldset id="fieldset">
	<legend>后台管理</legend>
	<table width="100%"  class="table_form">
		<tr>
			<th width="80">管理帐号：</th>
			<td class="y-bg"><input type="text" class="input-text" name="admin[username]" id="username" size="30"/></td>
		</tr>
		<tr>
			<th>登录密码：</th>
			<td class="y-bg"><input type="password" class="input-text" name="admin[pass]" id="pass"  size="30"/></td>
		</tr>
	</table>
</fieldset>
<div class="logo" style="width:50px">
<input type="hidden" name="filename[]" value="zcms_config"/>
<input type="hidden" name="filename[]" value="web_config"/>
<input type="hidden" name="action" value="web"/>
<input type="submit" class="button ajaxform" id="dosubmit" name="dosubmit" value="安装" />
</div>
</form>
</body>
</html>