<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
		<url>
			<loc>{zhuayi:echo.$weburl/}</loc>
			<lastmod>{zhuayi:echo.date("Y-m-d")/}</lastmod>
			<changefreq>daily</changefreq>
			<priority>1.0</priority>

		</url>
{zhuayi:article_list page=$_REQUEST['page'] limit=$_REQUEST['num']}
<?php 
	if (substr($fields['url'],0,1) == '/')
	{
		$fields['url'] = $weburl.$fields['url'];
	}
?>
		<url>
			<loc>{zhuayi:echo.$fields['url']/}</loc>
			<lastmod>{zhuayi:echo.dtime($fields['dtime'])/}</lastmod>
			<changefreq>{zhuayi:echo.$_REQUEST['content_changefreq']/}</changefreq>
			<priority>{zhuayi:echo.$_REQUEST['content_priority']/}</priority>
		</url>
{/zhuayi:article_list}
	</urlset>

