<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{zhuayi:echo.$seo['seo_title']/}</title>
<meta http-equiv="keywords" content="{zhuayi:echo.$seo['seo_keywords']/}" />

<meta http-equiv="description" content="{zhuayi:echo.$seo['seo_description']/}" />

<link href="{zhuayi:echo.model_url('direct','')/}css/index.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div class="w950 banner" style="background:url({zhuayi:echo.model_url('direct','')/}images/cz_01.jpg);height:448px;">
	<embed src="{zhuayi:echo.model_url('direct','')/}images/wangyeba.com006.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="950" height="448" wmode="transparent"></embed>
</div>
<div class="w950 banner">
	<embed src="{zhuayi:echo.model_url('direct','')/}images/buy.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="950" height="79" wmode="transparent"></embed>
</div>
<div class="w950 center">
	<div class="left">
		<img src="{zhuayi:echo.model_url('direct','')/}images/cz_03.jpg"/>
	</div>
	<div class="right">
		<img src="{zhuayi:echo.model_url('direct','')/}images/cz_04.jpg"/>
	</div>
</div>
<div class="w950 banner">
	<img src="{zhuayi:echo.model_url('direct','')/}images/cz_05.jpg"/>
</div>

<div class="w950 center info w870">
	<h1>茶香枕</h1>
	<h2>始于古 盛于今 有我睡眠香</h2>
	<div class="info_body indent w520">
		天然植物茶填充枕芯在我国具有悠久的历史，早在晋代葛洪《时后备急方》中就有用茶装枕治失眠的记载，唐宋时期有了较大的发展。 孙思邈在《千金方》记，茶叶可眠目清心，百病皆疗，延年益寿。李时珍在《本草纲目》中论述茶叶的药用功能：茶叶性甘，平，寒，无毒，无副作用。防潮透气性好，气味香馥，饮之营养丰富，眠之安神醒脑。
	</div>
	<div class="info_body w520">
		<span>【清香凉头】</span>中国传统医学认为：“凉头热脚”是人的最佳健康睡眠环境。常用茶枕，可以清香凉头,于睡眠之中调理养生！
	</div>
	<div class="info_body w520">
		<span>【软硬适中】</span>现代人往往忽视枕头在睡眠中的重要性，科学正确的使用枕头，对人体的睡眠尤为重要。茶枕工坊系列产品合理的长度、宽度、高度、以及其软硬适中的合理设计，起到了很好的呵护颈椎的作用。
	</div>
	<div class="info_body w520">
		<span>【防螨抑菌】</span>据《中国茶叶大词典》中记载，茶叶中含有丰富的茶多酚、生物碱、氨基酸、维生素、芳香类物质等多种有效成分，具有抑菌杀菌的作用。所以，以茶做枕可以远离细菌。
	</div>
	<div class="info_body w520">
		<span>【闻香入眠】</span>将茶叶和草本植物，按一定比例和工艺进行配伍，装入枕芯中作为寝枕，枕眠其上，头温接触枕内的茶叶，使茶香缓慢散发出来，香气凝聚枕周尺余，清香四溢，如沐茶园。   
	</div>
</div>
<div class="w950 banner">
	<embed src="{zhuayi:echo.model_url('direct','')/}images/buy.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="950" height="79" wmode="transparent"></embed>
</div>
<div class="w950 center info">
	<div class="left" style="margin-left:40px;">
		<h1>CCTV7 推荐产品</h1>
		<h2>各大媒体争相报道！</h2>
		<div class="info_body indent w340">
			CCTV-7 曾对茶枕工坊做过专题报道。报道中各专家肯定了茶枕的助眠功效，还纷纷提及了茶枕的明目、清心、通经络、辽百病、改善颈椎、延年益寿的功效。大家都对茶枕工坊的茶枕赞不绝口，采用福建风景如画的太姥山出产的晚春老茶叶，香气更醇厚 更持久，使得茶香凝聚于枕的周围，从而达到开窍醒脑，扩张血管的功效。
		</div>
		<div class="info_body w340">
			<img src="{zhuayi:echo.model_url('direct','')/}images/cz_17.jpg"/>
			<img src="{zhuayi:echo.model_url('direct','')/}images/cz_18.jpg"/>
			<img src="{zhuayi:echo.model_url('direct','')/}images/cz_21.jpg"/>
		</div>
	</div>
	<div class="right player margin10">
		
	</div>
</div>
<div class="w950 banner">
	<embed src="{zhuayi:echo.model_url('direct','')/}images/buy.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="950" height="79" wmode="transparent"></embed>
</div>

<div class="w950 center">
	<div class="left w300">
		<h1 class="font40">正品保障</h1>
	</div>
	<div class="right">
		<div class="info_body indent">
			今年所有关于送礼的话题，都指向了一个名词——茶枕。茶枕俨然是当今送礼送健康的新宠。这股强劲的茶枕风，随之带来了疯狂的茶枕仿牌杂牌军们。网络上、超市里，四处充斥着次牌茶枕的身影。这些<b>次劣品，不但不能呵护您的睡眠，反而会给您的健康带来危害。</b>晚安阁下以纯天然无公害的优质茶叶为填充物，运用独特的工艺精制而成，体贴呵护您关爱的人。送礼送健康，请认准茶枕工坊。
		</div>
		<div class="info_body">
			<img src="{zhuayi:echo.model_url('direct','')/}images/cz_26.jpg" class="tu"/>
			<img src="{zhuayi:echo.model_url('direct','')/}images/cz_28.jpg" class="tu"/>
			<img src="{zhuayi:echo.model_url('direct','')/}images/cz_30.jpg" class="tu"/>
			<img src="{zhuayi:echo.model_url('direct','')/}images/cz_32.jpg" class="tu2"/>
		</div>
	</div>
</div>

<div class="w950 ads w870">
	<h1>专家说</h1>
	<div class="ads_info w950">
		<div class="ads_infos">
			<img src="{zhuayi:echo.model_url('direct','')/}images/1.jpg"/>
			<b>邵曙光</b><br><b>中华茶人联谊会秘书长：</b>“自古就有茶枕的说法，咱们老人也都知道，茶枕清目，醒脑，这种保健作用也是非常好的。”
		</div>
		<div class="ads_infos">
			<img src="{zhuayi:echo.model_url('direct','')/}images/1.jpg"/>
			<b>邵曙光</b><br><b>中国睡眠研究会 副秘书长：</b>“我是学中医的，在中医的一些书里面就有相关的描述，唐代著名医学家孙思邈在《千金方》中就有记载...”
		</div>
		<div class="ads_infos">
			<img src="{zhuayi:echo.model_url('direct','')/}images/1.jpg"/>
			<b>邵曙光</b><br><b>中华茶人联谊会秘书长：</b>“自古就有茶枕的说法，咱们老人也都知道，茶枕清目，醒脑，这种保健作用也是非常好的。”
		</div>
		<div class="ads_infos">
			<img src="{zhuayi:echo.model_url('direct','')/}images/1.jpg"/>
			<b>邵曙光</b><br><b>中华茶人联谊会秘书长：</b>“自古就有茶枕的说法，咱们老人也都知道，茶枕清目，醒脑，这种保健作用也是非常好的。”
		</div>
		<div class="ads_infos">
			<img src="{zhuayi:echo.model_url('direct','')/}images/1.jpg"/>
			<b>邵曙光</b><br><b>中华茶人联谊会秘书长：</b>“自古就有茶枕的说法，咱们老人也都知道，茶枕清目，醒脑，这种保健作用也是非常好的。”
		</div>
		<div class="ads_infos">
			<img src="{zhuayi:echo.model_url('direct','')/}images/1.jpg"/>
			<b>邵曙光</b><br><b>中华茶人联谊会秘书长：</b>“自古就有茶枕的说法，咱们老人也都知道，茶枕清目，醒脑，这种保健作用也是非常好的。”
		</div>
	
	</div>
</div>
<div class="w950 ads w870">
	<h1 style="background:url({zhuayi:echo.model_url('direct','')/}images/titlebg2.gif) no-repeat">消费者说</h1>
	<div class="ads_info w950">
		<div class="ads_infos">
			<img src="{zhuayi:echo.model_url('direct','')/}images/1.jpg"/>
			<b>邵曙光</b><br><b>中华茶人联谊会秘书长：</b>“自古就有茶枕的说法，咱们老人也都知道，茶枕清目，醒脑，这种保健作用也是非常好的。”
		</div>
		<div class="ads_infos">
			<img src="{zhuayi:echo.model_url('direct','')/}images/1.jpg"/>
			<b>邵曙光</b><br><b>中国睡眠研究会 副秘书长：</b>“我是学中医的，在中医的一些书里面就有相关的描述，唐代著名医学家孙思邈在《千金方》中就有记载...”
		</div>
		<div class="ads_infos">
			<img src="{zhuayi:echo.model_url('direct','')/}images/1.jpg"/>
			<b>邵曙光</b><br><b>中华茶人联谊会秘书长：</b>“自古就有茶枕的说法，咱们老人也都知道，茶枕清目，醒脑，这种保健作用也是非常好的。”
		</div>
		<div class="ads_infos">
			<img src="{zhuayi:echo.model_url('direct','')/}images/1.jpg"/>
			<b>邵曙光</b><br><b>中华茶人联谊会秘书长：</b>“自古就有茶枕的说法，咱们老人也都知道，茶枕清目，醒脑，这种保健作用也是非常好的。”
		</div>
		<div class="ads_infos">
			<img src="{zhuayi:echo.model_url('direct','')/}images/1.jpg"/>
			<b>邵曙光</b><br><b>中华茶人联谊会秘书长：</b>“自古就有茶枕的说法，咱们老人也都知道，茶枕清目，醒脑，这种保健作用也是非常好的。”
		</div>
		<div class="ads_infos">
			<img src="{zhuayi:echo.model_url('direct','')/}images/1.jpg"/>
			<b>邵曙光</b><br><b>中华茶人联谊会秘书长：</b>“自古就有茶枕的说法，咱们老人也都知道，茶枕清目，醒脑，这种保健作用也是非常好的。”
		</div>
	
	</div>
</div>

<div class="w910 banner order">
	<img src="{zhuayi:echo.model_url('direct','')/}images/order_banner.gif"/>
	<div class="order">
		<a name="order"></a>
		<div class="left">
			<div class="order_form">
				<table>
					<tr>
						<th>真实姓名：</th>
						<td><input type="text" size="20"/> (必填)</td>
					</tr>
					<tr>
						<th>选购数量：</th>
						<td><input type="text" size="20"/> (必填)</td>
					</tr>
					<tr>
						<th>联系电话：</th>
						<td>
							<input type="text" size="3"/> - <input type="text" size="10"/> -<input type="text" size="3"/> 
							<span>例如：021-58181818-807</span>	
						</td>
					</tr>
					<tr>
						<th>手　　机：</th>
						<td><input type="text" size="40"/></td>
					</tr>
					<tr>
						<th>电子邮箱：</th>
						<td><input type="text"/></td>
					</tr>
					<tr>
						<th>配送地区：</th>
						<td><input type="text"/> (必填)</td>
					</tr>
					<tr>
						<th>收货地址：</th>
						<td><input type="text"/> (必填)</td>
					</tr>
					<tr>
						<th>留　　言：</th>
						<td><textarea></textarea></td>
					</tr>
					<tr>
						<th></th>
						<td>
							<input type="image" src="{zhuayi:echo.model_url('direct','')/}images/button.gif" style="border:0px;margin-top:10px;"/>
						</td>
					</tr>
				</table>
			</div>
			
			<div class="xiaob">
				免费咨询电话 <b>400 888 8888</b> 服务时间：8:30 - 18:30
			</div>
			<div class="jiade">
				<img src="{zhuayi:echo.model_url('direct','')/}images/1.gif"/>
				<img src="{zhuayi:echo.model_url('direct','')/}images/2.gif"/>
				<img src="{zhuayi:echo.model_url('direct','')/}images/3.gif"/>
			</div>
		</div>
		<div class="right">
		
		</div>
	</div>
</div>

<div class="w910 bottom">
	<div class="help">
		<a href="javascript:">如何付款/退款</a>
		<a href="javascript:">配送方式</a>
		<a href="javascript:">售后服务</a>
		<a href="javascript:">客服中心</a>
	</div>
	<div class="helplist">
		<ul>
			<li>支付方式</li>
			<li>各支付方式的付款等待期限</li>
			<li>发票制度说明</li>
		</ul>
		<ul>
			<li>货到付款城市及配送时间</li>
			<li>款到发货城市和配送时间</li>
			<li>配送时间和配送范围</li>
			<li>配送费收取标准</li>
		</ul>
		<ul>
			<li>退换货政策</li>
			<li>如何办理退换货</li>
			<li>如何办理退款</li>
		</ul>
		<ul>
			<li>常见热点问题</li>
			<li>联系我们</li>
			<li>投诉与建议</li>
		</ul>
	</div>
	<div style="clear:both"></div>
	<div class="helps">
		<img src="{zhuayi:echo.model_url('direct','')/}images/jiade.gif" align="middle"/>
		<span>北京市公安局海淀分局 备案编号：2202081681  京ICP证070359号<br>
	  Copyright&copy;2004-2010  中坤在线 版权所有</span>
  </div>
</div>
</body>
</html>