<?php require $this->load_tpl('admin_header');?>

<script type="text/javascript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"blog_form",onerror:function(msg){}});
	$("#title").formValidator({onshow:"请输入博客标题",onfocus:"请输入博客标题"}).inputValidator({min:2,max:60,onerror:"请输入博客标题"});
	$("#cid").formValidator({onshow:"请选择博客分类",onfocus:"请选择博客分类"}).inputValidator({min:1,max:60,onerror:"请选择博客分类"});
})
//-->
</script>
<form action="/blog/info" method="post" id="blog_form" enctype="multipart/form-data">
<fieldset>
	<legend><?php echo $show['pagename'];?></legend>
	<table width="100%"  class="table_form">
		<tr>
			<th width="80">博客标题：</th>
			<td class="y-bg">
				<input type="text" class="input-text" name="title" id="title" value="<?php echo $show['info']['title'];?>" size="60" />
			</td>
		</tr>
		<tr>
			<th width="80">所属分类：</th>
			<td class="y-bg">
				<select name="cid" id="cid">
					<option value="0">--所属分类--</option>
					<?php foreach ($show['category'] as $val){?>
					<option value="<?php echo $val['id'];?>" <?php if ($show['info']['cid'] == $val['id']){ echo 'selected';}?>><?php echo $val['category'];?></option>
					<?php }?>
				</select>
			</td>
		</tr>
		<tr>
			<th width="80">缩略图：</th>
			<td class="y-bg">
				<input type="file" name="file1"/>
				<?php if (!empty($show['info']['litpic'])){?>
				<a href="<?php echo $show['info']['litpic'];?>" target="_blank"><img src="<?php echo $show['info']['litpic'];?>" height="20" class="img"/></a>
				<?php }?>
			</td>
		</tr>
		<tr>
			<th width="80">博客内容：</th>
			<td class="y-bg">
				<?php $this->load_fun('getedit','body',$show['info']['body']);?>
			</td>
		</tr>
		<tr>
			<th width="80">标签：</th>
			<td class="y-bg">
				<input type="text" class="input-text" name="tags" id="tags" value="<?php echo $show['info']['tags'];?>" size="30" />
				<span>每个标签以","隔开</span>
			</td>
		</tr>
	</table>
</fieldset>
<div class="bk15"></div>
<input type="hidden" name="id" value="<?php echo $show['info']['id'];?>">
<input type="submit" class="button" id="button"  value="提交" />
</form>
<?php require $this->load_tpl('admin_foot');?>
