{zhuayi:include file="头部.html"/}
<div class="t_product">
<?php for($i=0;$i<10;$i++){
$j= $i+1;
?>
	<ul>
		<li class="top_num" style="<?php if ($j==2){echo 'background:#d53361';}?> <?php if ($j==3){echo 'background:#df6688';}?> <?php if ($j>3){echo 'background:#cccccc';}?>"><?php if ($j<10){echo '0';}?><?php echo $j;?></li>
		<li class="product_litpic picbigpr" id="{zhuayi:echo.$list[$i]['num_iid']/}">
			<a href="{zhuayi:echo.taobao_urlshort($list[$i]['click_url'])/}" target="_blank"><img src="{zhuayi:echo.litpic($list[$i]['pic_url'],120)/}" style="width:120px;height:116px;"/></a>
		</li>
		<li class="product_title">
			<a href="{zhuayi:echo.taobao_urlshort($list[$i]['click_url'])/}" target="_blank">{zhuayi:echo.siconv($list[$i]['title'])/}</a><br>
			<img src="{zhuayi:echo.model_url('taobao','')/}images/gf.jpg"/>
		</li>
		<li class="product_price">
			￥<span>{zhuayi:echo.$list[$i]['price']/}</span>元<br>
			<img src="{zhuayi:echo.model_url('taobao','')/}images/hdfk.jpg"/>
			
		</li>
		<li class="product_rx">
			当月热销 {zhuayi:echo.$list[$i]['commission_num']/} 件 <br>
			<span>卖家信用 </span><img src="{zhuayi:echo.model_url('taobao','')/}images/huanzuan.jpg"/>
		</li>
		<li class="product_button">
			<a href="{zhuayi:echo.taobao_urlshort($list[$i]['click_url'])/}" target="_blank"><img src="{zhuayi:echo.model_url('taobao','')/}images/button.jpg"/></a>
		</li>
	</ul><?php }?>
</div>
<div class="banner w_960 m10"><div class="banner w_960 m10"><script type="text/javascript" src="http://www.wamifang.com/index.php?m=ads&c=show&key={zhuayi:echo.$seo['seo_keywords']/}&type=2"></script> </div>
</div>
<div class="product_list w_960">
<?php for($i=10;$i<20;$i++){?>
	<ul <?php if ($i ==14 ){echo 'style="margin-right:0px;float:right;"';};?>>
		<li class="litpic"><a href="{zhuayi:echo.taobao_urlshort($list[$i]['click_url'])/}" target="_blank"><img src="{zhuayi:echo.litpic($list[$i]['pic_url'],180)/}"/></a></li>
		<li class="price">￥{zhuayi:echo.$list[$i]['price']/} 元<?php echo $i;?></li>
		<li class="title"><a href="{zhuayi:echo.taobao_urlshort($list[$i]['click_url'])/}" target="_blank">{zhuayi:echo.siconv($list[$i]['title'])/}</a></li>
		<li class="comment">最近成交：<span>{zhuayi:echo.$list[$i]['commission_num']/}</span></li>
	</ul>
<?php }?>
</div>
<div class="article_list w_960">
	<h2>相关<a href="{zhuayi:echo.$info['url']/}/cid/{zhuayi:echo.$info['class']['id']/}" target="_blank">{zhuayi:echo.$info['class']['classname']/}</a>信息</h2>
	<ul>
	<?php $i=1;?>
	{zhuayi:article_list limit=21 cid=$info['cid']}
		<li <?php if ($i % 3 ==0){echo 'style="float:right"';}?>>
			<a href="{zhuayi:echo.$info['url']/}/aid/{zhuayi:echo.$fields['id']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a>
			<span>{zhuayi:echo.dtime($fields['dtime'],3)/}</span>
		</li>
	<?php $i++;?>
	{/zhuayi:article_list}
	</ul>
</div>
<div class="links w_960">
{zhuayi:taobao_special_list}
	<a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a>
{/zhuayi:taobao_special_list}
{zhuayi:link_list default="taobao_special|" aid=$info['id']}
	<a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a>
{/zhuayi:link_list}
</div>
{zhuayi:include file="底部.html"/}
<!-- ShareTo Button BEGIN -->
<script type="text/javascript" src="http://s.shareto.com.cn/js/shareto_float.js#color=0&align=right&move=1" charset="utf-8"></script> 
<!-- ShareTo Button END -->


</body>
</html>