<div class="taobao_list float_right mt10 product_list">
		<h1>淘宝热卖产品</h1>
		<?php for($i=0;$i<10;$i++){?>
		<ul>
			<li class="litpic"><a href="{zhuayi:echo.taobao_urlshort($list[$i]['click_url'])/}" target="_blank"><img src="{zhuayi:echo.litpic($list[$i]['pic_url'],180)/}"/></a></li>
			<li class="price">￥{zhuayi:echo.$list[$i]['price']/} 元</li>
			<li class="title"><a href="{zhuayi:echo.taobao_urlshort($list[$i]['click_url'])/}" target="_blank">{zhuayi:echo.siconv($list[$i]['title'])/}</a></li>
			<li class="comment">最近成交：<span>{zhuayi:echo.$list[$i]['commission_num']/}</span> </li>
		</ul>
		<?php }?>
	</div>