{zhuayi:include file="/zcms/admin/template/admin/头部.html"/}
<style>
.sbs{}
.sbul{margin:10px;}
.sbul li{line-height:30px;}
.button{margin-top:20px;}

</style>	<div class="col-2">

	<h6>提示区：</h6>
	<div class="sbs" id="update_tips" style="height:360px; overflow:auto;">

		<ul id="file" class="sbul">
			
		</ul>

	</div>
	</div>{zhuayi:include file="/zcms/admin/template/admin/底部.html"/}
<script>
arr = new Array({zhuayi:echo.$sms_num/});
arrt = new Array({zhuayi:echo.$username/});
var i=-1;
function generate()
{
	i++;
	j=1;
	if ( i < arr.length)
	{
		//------清屏
		if (i % 100 ==0)
		{
			$("#file").empty();
		}
		id = arr[i];
		title = arrt[i];
		$.get('/index.php?m=sms&c=task_play&a=init&id={zhuayi:echo.$_REQUEST['id']/}&play=1&toll={zhuayi:echo.$toll/}&sms='+arr[i]+'',function(data)
		{
			if (data == '0')
			{
				$("#file").append('<li style="color:#009900">【'+arrt[i]+'】 -> '+arr[i]+' -> 发送成功 </li>');
				setTimeout('generate()',500);
			}
			else
			{
				$("#file").append('<li style="color:red">$号码:'+arr[i]+' -> '+arrt[i]+' -> 发送失败...原因：'+data+' </li>');
			}
			document.getElementById('update_tips').scrollTop = document.getElementById('update_tips').scrollHeight;
		})
		
	}
	else
	{
		$("#file").append('<li style="color:red">发送完毕... </li>');
		document.getElementById('update_tips').scrollTop = document.getElementById('update_tips').scrollHeight;
	}
}

if (arr.length==0)

{
	alert('错误的数据来源..');

}

else
{
	generate()
}
</script>