body{font-size:12px;margin:0px;padding:0px;font-family:"微软雅黑";background:url(bg.png)}
h1,h2,h3,p{margin:0px;padding:0px;}
a{text-decoration:none}
img{border:0px;}
ul{margin:0px;padding:0px;}
li{list-style:none}
.w_960{width:960px;margin:0 auto;}
.w_980{width:980px;margin:0 auto;}
.overflow{overflow:hidden;}
.left{float:left}
.right{float:right}

.bg{background:url(style.png)}
.hread{width:100%;height:77px;}
.hread h1{background-position:0px -79px;width:233px;height:77px;text-indent:-999em}

.nav{width:720px;margin-top:30px;}
.nav a{display:block;float:left;font-size:14px;color:#fcfffe;margin: 0px 10px 0px 10px;padding: 0px 0px 0px 10px;}
.nav a span{display:block;float:left;}
.nav a .right{width:11px;background-position:-325px -77px;height:20px;}
.nav a .left{background-position:-237px -77px;padding:0px 5px 0px 10px;}

.center{margin-top:10px;background:url(cen_bg.png);padding-top:10px;}
.center .left{margin-left:35px;_margin-left:15px;width:680px;}
.center .left .blog_info{border-bottom:1px #ccc solid;padding-bottom:5px;}
.center .left .blog_info h1{font-size:24px;color:#272a2d;margin-top:5px;}
.center .left .blog_info .info{font-family:"宋体";color:#666;margin-top:8px;font-size:12px;}
.center .left .blog_info .info a{color:#0082cb;}
.center .left .blog_body{color:#333;word-break:break-all;font-family:"宋体";line-height:180%;padding:20px;font-size:14px;}
.center .left .blog_body a{color:#333;}
.center .left .sigline{width:680px;height:7px;background:url(sigline.gif);margin:0 auto;margin-bottom:10px;}
.center .left .comment .title{height:26px;line-height:26px;background-position:-242px -105px;background-repeat:no-repeat;}
.center .left .comment .title span{font-weight:bold;padding-left:30px;font-size:16px;font-family:"宋体";}


.center .left .comment .comment_list ul{margin-top:10px;overflow:hidden;padding:20px;}
.center .left .comment .comment_list li{overflow:hidden;color:#666;word-break:break-all;font-family:"宋体";}
.center .left .comment .comment_list .body{margin-top:10px;color:#333;text-indent:2em;line-height:180%;}
.center .left .comment .comment_list li img{float:left;padding:2px;border:1px #ccc solid;width:45px;height:45px;margin-right:10px;}
.center .left .comment .comment_list .left{margin:0px;width:auto;}
.center .left .comment .comment_list .comment_user h2{color:#0082cb;font-size:14px;font-family:"宋体";margin:5px 0px 5px 0px;}
.center .left .comment .comment_list .comment_user span{color:#666;}
.f7f7f7{background:#f7f7f7;}

.center .left .comment .comment_face{padding:10px;}
.center .left .comment .comment_face img{margin:4px;}

.center .left .comment .comment_form li{margin:10px;color:#333;}
.center .left .comment .comment_form li a{color:#0082cb;text-decoration:underline}
.center .left .comment .comment_form li .text{width:200px;margin-right:5px;height:20px;}
.center .left .comment .comment_form li .body{width:98%;height:80px;overflow:auto;}
.center .left .comment .comment_form li .button{background-position:-240px -132px;width:93px;height:28px;text-indent:-999em;border:0px;}

.center .right{width:235px;margin-right:20px;_margin-right:0px;}
.center .right .title{background-position:0px -238px;height:33px;line-height:33px;font-size:16px;color:#333333;padding-left:15px;}
.center .right .t{background-position:0px -160px;padding-left:35px;}
.center .right .d{background-position:0px -198px;padding-left:35px;}
.center .right .t_body{color:#666;line-height:180%;margin-top:5px;font-family:"宋体";text-indent:2em}
.center .right .t_body div{padding:6px 0px 6px 0px;border-top:1px #ccc dotted;overflow:hidden;}
.center .right .t_body span{width:auto;margin:0px;text-indent:0px;}
.center .right .t_body span a{color:#0082cb;font-weight:bold;}
.center .right .subscribe{margin:10px 0px 10px 0px;}
.center .right .subscribe img{margin:5px 5px 5px 0px;}
.center .right .flas_tags{position:relative;left:-20px;}

.center .right .list{margin:10px;}
.center .right .list li{line-height:25px;height:25px;background:url(style.png) -241px -159px;padding-left:10px;}
.center .right .list li a{color:#0082cb;}