<div class="wrapper vmid">
    <!-- Container begin -->
    <div class="container">
{zhuayi:include filename="头部.html"/}
<!-- /header -->    
<!-- Content begin -->
       <div class="content">
	   <!-- Breadcrumb begin -->
    	 <div class="breadcrumb">
  			当前位置：
			<a href="{zhuayi:echo.$weburl/}">首页</a> > 
			<?php foreach ($info['position'] as $val){?>
			<a href="{zhuayi:echo.$val['url']/}">{zhuayi:echo.$val['classname']/}</a> > 
			<?php }?>
    	 </div>
    	 <!-- ArticleList begin -->
		<div class="listbox">
			<ul class="e2">
				{zhuayi:article_list limit=15 cid=$info['channelid'] page=$_REQUEST['page']}
				<li>
					<?php if (!empty($fields['litpic'])){?>
      				<a href='{zhuayi:echo.$fields['url']/}' class='preview'><img src='{zhuayi:echo.litpic($fields['litpic'],82,66)/}'/ ></a>
					<?php }?>
					[<a href="{zhuayi:echo.$fields['classurl']/}" class="title" target="_blank">{zhuayi:echo.$fields['classname']/}</a>]
					<a href="{zhuayi:echo.$fields['url']/}" class="title" target="_blank">{zhuayi:echo.$fields['title']/}</a>
					<span class="info">
                        <img src='{zhuayi:echo.$path/}images/tag.jpg'/><small>日期：</small>{zhuayi:echo.dtime($fields['dtime'],"m-d")/}&nbsp;
						<img src='{zhuayi:echo.$path/}images/view.jpg'/><small>点击：</small><font color="#E19c77">{zhuayi:echo.$fields['click']/}</font>
					</span>
					<p class="intro">
						<font color="#999999">{zhuayi:echo.$fields['abstract']/}...</font>
					</p>
				</li>
			{/zhuayi:article_list}
			</ul>
		</div><!-- /listbox -->
    	 <!-- ArticleList end -->
    	 <!-- Page Navigation begin -->
    	 <div class="clear"></div>
		 <div class="dede_pages">
			<ul>{zhuayi:pagelist  maxnum=$info['maxnum'] page=$_REQUEST['page'] html=$htmlfile/}</ul>
		 </div>
    	 <!-- Page Navigation end -->
    </div>   
    <!-- Content end --> 
    <!-- Sidebar begin -->
    
	   
	{zhuayi:include filename="右边.html"/}
    <!-- Sidebar end -->
	</div>
    <!-- Container end -->
{zhuayi:include filename="底部.html"/}
<!-- /footer -->
</body>
</html>