<?php require $this->load_tpl('myblog_header');?>
<div class="w100 overflow top10">
	<div class="left">
		<h2 class="title">
			<a href="/">Zhuayi</a> <span> > 
			<?php foreach ($show['info']['category'] as $val){?>
			<a href="/myblog/<?php echo $val['id'];?>"><?php echo $val['category'];?></a> > 
			<?php }?>
			<?php echo $show['info']['title'];?></span>
		</h2>
		<div class="blog_info border">
			<h1><?php echo $show['info']['title'];?></h1>
			<div class="body">
				<?php echo html_entity_decode($show['info']['body']);?>
			</div>
			<?php if (!empty($show['info']['tags'])){?>
			<div class="tags">
				标签：<?php echo $show['info']['tags'];?>
			</div>
			<?php }?>
		</div>
	</div>
	<div class="right">
		<?php $this->load_modle('myblog_right');?>
		<?php $this->load_modle('plugin_right');?>
	</div>
</div>
<?php require $this->load_tpl('index_footer');?>
