<?php require $this->load_tpl('myblog_header');?>
<div class="w100 overflow">
	<div class="left">
		<h2 class="title">
			<a href="/">Zhuayi</a> <span> > 
			<?php echo $show['category']['category'];?> > 
			列表</span>
		</h2>
		<div class="blog_list border">
		<?php foreach ($show['list'] as $val){?>
			<div class="blog overflow">
				<h3 class="title">
					<a href="/myblog/<?php echo $val['category']['id'];?>/<?php echo $val['id'];?>" title="<?php echo $val['title'];?>"><?php echo $val['title'];?></a>
				</h3>
				<p class="dtime"> 
					发布时间： <?php echo $this->load_fun('dtime',$val['dtime']);?> 
				</p>
				<div class="box">
				<?php if (!empty($val['litpic'])){?>
					<img src="<?php echo $val['litpic'];?>" class="img"/>
				<?php }?>
					<?php echo strings::limit($val['body'],0,500);?>
				</div>
			</div>
		<?php }?>
		</div>
		<div class="page"><div class="pages"><?php echo $show['page'];?></div></div>
	</div>
	<div class="right">
		<?php $this->load_modle('myblog_right');?>
		<?php $this->load_modle('plugin_right');?>
	</div>
</div>
<?php require $this->load_tpl('myblog_footer');?>
