</div>
<?php
$pageendtime = microtime(); 
$starttime = explode(" ",$this->pagestartime); 
$endtime = explode(" ",$pageendtime); 
$totaltime = $endtime[0]-$starttime[0]+$endtime[1]-$starttime[1]; 
$timecost = sprintf("%0.2f",$totaltime); 
?>
<strong class="copyright">
共执行 <?php echo $this->db->querynum;?> 个查询，用时 <?php echo $timecost;?> 秒 Gzip 已禁用，内存占用 <?php echo sprintf('%0.2f', memory_get_usage() / 1048576 );?> MB <br />
Powered By Zhuayi &copy; 2007-2011 <a href="http://www.zhuayi.net" target="_blank">Zhuayi</a>  版权所有 Email:2179942@qq.com
</strong>
</body>