.smain{
	width:920px;
	margin:20px auto;
	overflow:hidden;
	clear:both;
}
.smain .mtitle{
	width:920px;
	height:35px;
	background:url(soft_rlist_bg.gif) no-repeat;
}
.smain .mtitle .mtname{
	font-size:14px;
	letter-spacing:3px;
	line-height:35px;
	text-indent:16px;
}
.smain .mtitle .mtlink{
	height:27px;
	float:right;
	text-align:right;
	margin-top:-25px;
	overflow:hidden;
	letter-spacing:2px;
	position:relative;
}
.smain .mtitle .mtlink span{
	padding-right:10px;
	color:#777;
}
.smain .mtitle .mtlink a{
	display:block;
	padding-left:10px;
	padding-right:10px;
	border-right:1px solid #DDD;
	margin-right:-1px;
	float:right;
	color:#666666;
}

.mbox{
	width:920px;
	clear:both;
	overflow:hidden;
}

.comment{
	width:918px;
	border:1px solid #DDD;
	margin-top:7px;
}

.comment .commentbox{
	width:918px;
}
.comment .commentbox dl{
	width:900px;
	margin:10px auto 0px;
	border:1px solid #D1DDCE;
}
.comment .commentbox dl dt{
	width:898px;
	background:#F4F9F2;
	line-height:25px;
	text-indent:10px;
	color:#333;
	border-bottom:1px solid #E6ECE3;
}
.comment .commentbox dl dt span{
	color:#669933;
	font-size:11px;
}
.comment .commentbox dl dd{
	padding:10px;
	font-size:14px;
	line-height:25px;
	color:#666;
}