{zhuayi:include file="/zcms/admin/template/admin/头部.html"/}
<script type="text/javascript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#class_tpl").formValidator({onshow:"请输入默认模版,必须以根目录开始",onfocus:"请输入默认模版,必须以根目录开始"})
	$("#path").formValidator({onshow:"请输入静态页存放地址,请以\"/\"开头、以\"/\"结尾(非必须,不生成则不必填写)",onfocus:"请输入静态页存放地址(非必须,不生成则不必填写)"})
	$("#html").formValidator({onshow:"请选择是否生成HTML",onfocus:"请选择是否生成HTML"})
	$("#class_url").formValidator({onshow:"请输入默认URL,可用标签{id},替换为直投ID",onfocus:"请输入默认URL,可用标签{id}"}).inputValidator({min:2,onerror:"请输入默认URL,可用标签{id}"});
})
//-->
</script>
<form action="?m=article&c=config_info&a=init" method="post" id="myform">
<fieldset>
	<legend>基本配置</legend>
	<table width="100%"  class="table_form">
		<tr>
			<th width="150">静态页存放地址：</th>
			<td class="y-bg">
				<input type="text" class="input-text" name="article_config[path]" id="path" value="{zhuayi:echo.$path/}" size="30" /> 
			</td>
		</tr>
		<tr>
			<th>推送位：</th>
			<td colspan="2" class="y-bg">
				<textarea name="article_config[flag]" id="flag" style="width:50%;height:50px;">{zhuayi:echo.implode(chr(13),$flag)/}</textarea>
				<span><br>格式：推送位名|标识符 例如：推荐|tuijian (一行一个,可多个)</span>
			</td>
		</tr>
		<tr>
			<th width="150">模版风格：</th>
			<td class="y-bg">
				<table width="90%" class="radio-label">
					<tr>
					<?php foreach ($tpllist as $key=>$val){
					?>
						<td align="center";>
							<img src="{zhuayi:echo.str_replace(ZCMS_ROOT,'',$val)/}/preview.png"/><br>
							<input class="radio_style" name="article_config[article_tpl]" value="{zhuayi:echo.$val/}" type="radio" <?php if ($article_tpl == $val){echo 'checked="checked"';}?>>
						</td>
					<?php }?>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</fieldset>
<div class="bk15"></div>
<fieldset>
	<legend>文章栏目配置</legend>
	<table width="100%"  class="table_form">
		<tr>
			<th width="150">默认栏目生成Html：</th>
			<td class="y-bg">
				<input name="article_config[html]" value="1" type="radio" <?php if ($html==1){echo ' checked';}?>> 是&nbsp;&nbsp;&nbsp;&nbsp;
				<input name="article_config[html]" value="0" type="radio"  <?php if ($html==0){echo ' checked';}?>> 否  
			</td>
		</tr>
		<tr>
			<th width="150">默认URL地址：</th>
			<td class="y-bg"><input type="text" class="input-text" name="article_config[class_url]" id="class_url" value="{zhuayi:echo.$class_url/}" size="30" /></td>
		</tr>
	</table>
</fieldset>
<div class="bk15"></div>
<fieldset>
	<legend>内容页配置</legend>
	<table width="100%"  class="table_form">
		<tr>
			<th width="150">自动提取文章摘要：</th>
			<td class="y-bg">
				<input name="article_config[abstract]" value="1" type="radio" <?php if ($abstract==1){echo ' checked';}?>> 是&nbsp;&nbsp;&nbsp;&nbsp;
				<input name="article_config[abstract]" value="0" type="radio"  <?php if ($abstract==0){echo ' checked';}?>> 否  
			</td>
		</tr>
		<tr>
			<th width="150">自动下载文章图片：</th>
			<td class="y-bg">
				<input name="article_config[downfile]" value="1" type="radio" <?php if ($downfile==1){echo ' checked';}?>> 是&nbsp;&nbsp;&nbsp;&nbsp;
				<input name="article_config[downfile]" value="0" type="radio"  <?php if ($downfile==0){echo ' checked';}?>> 否  
			</td>
		</tr>
		<tr>
			<th>文章来源：</th>
			<td colspan="2" class="y-bg">
				<textarea name="article_config[source]" id="source" style="width:50%;height:50px;">{zhuayi:echo.$source/}</textarea>
				<span><br>格式：来源名称1|来源名称2|来源名称3...</span>
			</td>
		</tr>
		<tr>
			<th width="150">文章缩略图大小：</th>
			<td class="y-bg">
				<input type="text" class="input-text" name="article_config[article_width]" id="article_width" value="{zhuayi:echo.$article_width/}" size="10" />  - <input type="text" class="input-text" name="article_config[article_height]" id="article_height" value="{zhuayi:echo.$article_height/}" size="10" />
			</td>
		</tr>
	</table>
</fieldset>
<div class="bk15"></div>
<input type="hidden" name="filename" value="article_config"/>
<input type="submit" class="button ajaxform" id="dosubmit" name="dosubmit" value="提交" />
</form>


{zhuayi:include file="/zcms/admin/template/admin/底部.html"/}