{zhuayi:include file="/zcms/admin/template/admin/头部.html"/}
<script type="text/javascript" src="{zhuayi:echo.model_url('admin','admin')/}js/select.js"></script>
<?php include_once ZCMS_CACHE.'article_class_cache.js';?>
<script type="text/javascript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#cid").formValidator({onshow:"请选择栏目名称",onfocus:"请选择栏目名称"})
	$("#title").formValidator({onshow:"请输入文章标题",onfocus:"请输入文章标题"}).inputValidator({min:2,max:80,onerror:"请输入文章标题,不能超过80个字符"});
	$("#tags").formValidator({onshow:"多关键词之间用空格或者“,”隔开",onfocus:"多关键词之间用空格或者“,”隔开"});
	$("#jump").formValidator({onshow:"开启转向连接，则会直接跳转,请以”http://“开头",onfocus:"开启转向连接，则会直接跳转,请以”http://“开头"});
	$("#parameter").attr('checked',true);
	Calendar.setup({inputField:"dtime",ifFormat:"%Y-%m-%d %H:%M:%S",showsTime:true,timeFormat:"24"});
	$("#file1").click(function(){
		$(this).width(450);
		$("#litpic").css('display','none')
	})
	$(".jumo_but").click(function(){
		if ($(this).attr("checked") == true)
		{
			$("#jump").attr('disabled',false);
		}
		else
		{
			$("#jump").attr('disabled',true);
		}
	})
	$("#sources").change(function(){
		$("#source").val($(this).val())
	})
})
//-->
</script>
<form action="?m=article&c=info&a=init" method="post" id="myform" enctype="multipart/form-data">
<fieldset>
	<legend>基本信息</legend>
	<table width="100%"  class="table_form">
		<tr>
			<th width="120">上级栏目：</th>
			<td  class="y-bg">
				<span id=selBox> </span>
				<input id="cid" name="cid" value="{zhuayi:echo.$info['cid']/}" type="hidden"/>
				<script language="javascript">
						var b = new sortMenu("cid","selBox",arrSorts);
						b.newInit({zhuayi:echo.$info['cid']/},b);
				</script>
			</td>
			<td width="321" rowspan="4" align="center">
			<img src="{zhuayi:echo.$info['litpic']/}" width="{zhuayi:echo.$article_width/}" height="{zhuayi:echo.$article_height/}" class="litpic" />
			<span><br>尺寸{zhuayi:echo.$article_width/}*{zhuayi:echo.$article_height/}  <a href="{zhuayi:echo.$info['litpic']/}" target="_blank"/>看原图</a></span>
			</td>
		</tr>
		<tr>
			<th>文章标题：</th>
			<td width="863" class="y-bg">
				<input type="text" class="input-text" name="title" id="title" value="{zhuayi:echo.$info['title']/}" size="60" />
				<input type="button" class="button"  value="检测重复" />
			</td>
		</tr>
		<tr>
			<th>缩略图：</th>
			<td class="y-bg">
				<input name="litpic" type="text" id="litpic" value="{zhuayi:echo.$info['litpic']/}" size="60">
				<input type="file" name="file1" id="file1"  style="width:63px;"/>
			</td>
	    </tr>
		<tr>
			<th>转向连接：</th>
			<td class="y-bg">
				<input type="text" class="input-text" name="jump" id="jump" value="{zhuayi:echo.$info['jump']/}" size="30" <?php if (empty($info['jump'])){echo 'disabled="disabled" ';}?>/>
				<input type="checkbox" class="jumo_but" <?php if (!empty($info['jump'])){echo 'checked="checked" ';}?>> <font color=red>转向链接</font>
			</td>
	    </tr>
		<tr>
			<th>文章来源：</th>
			<td class="y-bg"  colspan="2">
				<input type="text" class="input-text" name="source" id="source" value="{zhuayi:echo.$info['source']/}" size="40" />
				<select name="sources" id="sources">
					<option value="">==请选择==</option>
					<?php foreach ( $source as $val){?>
					<option value="{zhuayi:echo.$val/}" <?php if ($info['source'] == $val){echo 'selected';}?>>{zhuayi:echo.$val/}</option>
					<?php }?>
				</select>
			</td>
	    </tr>
		<tr>
			<th>Tags：</th>
			<td class="y-bg" colspan="2">
				<input type="text" class="input-text" name="tags" id="tags" value="{zhuayi:echo.$info['tags']/}" size="30" />
			</td>
	    </tr>
		<tr>
			<th>文章摘要：</th>
			<td colspan="2" class="y-bg">
				<textarea name="abstract" id="abstract" style="width:99%;height:60px;">{zhuayi:echo.$info['abstract']/}</textarea>
			</td>
		</tr>
		<tr>
			<th>文章内容：</th>
			<td colspan="2" class="y-bg">
				<?php GetEditor('body',$info['body']);?>
			</td>
		</tr>
		<tr>
			<th>允许评论：</th>
			<td class="y-bg">
				<input name="comment" value="0" type="radio" <?php if ($info['comment']==0){echo ' checked';}?>> 允许评论&nbsp;&nbsp;&nbsp;&nbsp;
				<input name="comment" value="1" type="radio" <?php if ($info['comment']==1){echo ' checked';}?>> 不允许评论  
			</td>
		</tr>
		<tr>
			<th>发布时间：</th>
			<td colspan="2" class="y-bg">
				<input type="text" name="dtime" id="dtime" value="{zhuayi:echo.dtime($info['dtime'])/}" size="21" class="endDate" >
			</td>
		</tr>
		<tr>
			<th>内容页模板：</th>
			<td colspan="2" class="y-bg">
				<select name="tpl" id="tpl">
					<option>==请选择模版===</option>
					<?php foreach ($tpl_cache as $val){?>
					<option value="{zhuayi:echo.$val/}" <?php if ($info['tpl'] == $val){echo 'selected';}?>><?php echo str_replace(ZCMS_ROOT.'/zcms','',$val);?></option>
					<?php } ?>
				</select>
			</td>
		</tr>
	</table>
</fieldset>
{zhuayi:include file="/zcms/admin/template/admin/seo.html"/}
<div class="bk15"></div>
<input type="hidden" name="id" value="{zhuayi:echo.$info['id']/}">
<input type="submit" class="button ajaxform" id="dosubmit" name="dosubmit" value="提交" />
</form>
{zhuayi:include file="/zcms/admin/template/admin/底部.html"/}
