<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{zhuayi:echo.$seo['seo_title']/}</title>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta name="author" content="Zcms">
<meta name="keywords" content="{zhuayi:echo.$seo['seo_keywords']/}">
<meta name="description" content="{zhuayi:echo.$seo['seo_description']/}">
<link rel="shortcut icon" href="/favicon.ico" >
<link href="/zcms/blog/template/images/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="hread bg">
	<div class="w_960 overflow">
		<a href="/"><h1 class="bg left">ZCMS_BLOG</h1></a>
		<div class="nav right">
			<a href="#"><span class="left bg">主 页</span><span class="right bg"></span></a>
			<a href="#">订阅微博</a>
			<a href="#">一些感触</a>
			<a href="#">一些想法</a>
			<a href="#">标签库</a>
			<a href="#">函数库</a>
			<a href="#">类库</a>
			<a href="#">Zcms</a>
		</div>
	</div>
</div>