<script>
$(function(){
	$(".banner_but").click(function(){
		$("#tpl").val($(this).val());
		tb_remove();
	})
})
</script>
<fieldset>
	<legend>基本信息</legend>
	<table width="100%"  class="table_form">
	<?php foreach($file as $val){
	if (substr(strrchr($val,'.'),1,100)=='jpg'){
	?>
		<tr>
			
			<td>
				<label>
					<input type="radio" name="banner_tpl" value="{zhuayi:echo.$val/}" id="banner_tpl" class="banner_but" />
					<img src="<?php echo str_replace(ZCMS_ROOT,'',$val);?>" width="500"/>
				<label>
			</td>
		</tr>
	<?php }}?>
	</table>
</fieldset>
<div class="bk15"></div>
