{zhuayi:include file="/zcms/admin/template/admin/头部.html"/}
<script type="text/javascript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#direct_tpl").formValidator({onshow:"请输入默认模版,必须以根目录开始",onfocus:"请输入默认模版,必须以根目录开始"}).inputValidator({min:2,onerror:"请输入默认模版,必须以根目录开始"});
	$("#direct_url").formValidator({onshow:"请输入默认URL,可用标签{id},替换为直投ID",onfocus:"请输入默认URL,可用标签{id}"}).inputValidator({min:2,onerror:"请输入默认URL,可用标签{id}"});
})
//-->
</script>
<form action="?m=direct&c=config_info&a=init" method="post" id="myform">
<fieldset>
	<legend>直投配置</legend>
	<table width="100%"  class="table_form">
		<tr>
			<th width="150">默认模版：</th>
			<td class="y-bg"><input type="text" class="input-text" name="direct_config[direct_tpl]" id="direct_tpl" value="{zhuayi:echo.$direct_tpl/}" size="60" /></td>
		</tr>
		<tr>
			<th width="150">默认URL地址：</th>
			<td class="y-bg"><input type="text" class="input-text" name="direct_config[direct_url]" id="direct_url" value="{zhuayi:echo.$direct_url/}" size="60" /></td>
		</tr>
	</table>
</fieldset>
<div class="bk15"></div>
<input type="hidden" name="filename" value="direct_config"/>
<input type="submit" class="button ajaxform" id="dosubmit" name="dosubmit" value="提交" />
</form>


{zhuayi:include file="/zcms/admin/template/admin/底部.html"/}