body{margin:0px;padding:0px;background:url(../images/bg.gif)  center top repeat-x #5fb4e1;font-size:12px;width:100%;}
h1,h2{margin:0px;padding:0px;}
ul{margin:0;padding:0px;}
li{list-style:none;}
img{border:0px;}
.w_auto{width:100%;}
.w_960,.w_930{width:960px;margin:0 auto;}
.w_930{width:930px;}
a{text-decoration:none}
.top{height:4px;border-top:1px #e3f4ff solid;background:#94d7ff;}
/* Í· */
.hread{background:url(../images/top_bg.gif);height:100px;overflow:hidden;}
.hread h1{height:99px;width:231px;background:url(../images/logo.gif);margin-left:10px;text-indent:-9999em;float:left;}
.hread_nav{float:right;position:relative;height:99px;width:700px;}
.hread_nav .hread_nav_top{width:456px;height:18px;background:url(../images/hread_top_nav.gif);position:absolute;top:0px;right:20px;color:#003366;padding-left:20px;}
.hread_nav .hread_nav_top a{color:#003366;}

.hread_nav .hread_nav_bottom{width:631px;height:33px;background:url(../images/hread__bottom_nav.gif);position:absolute;bottom:0px;right:20px;}
.hread_nav .hread_nav_bottom a,.hread_nav .hread_nav_bottom span{display:block;float:left;line-height:33px;color:#64b8dc;font-weight:bold;margin-left:10px;}
.hread_nav .hread_nav_bottom a{font-size:16px;color:#fff;font-family:"Î¢ÈíÑÅºÚ";margin-left:10px;}
.hread_nav .hread_nav_bottom .add_class{width:24px;height:23px;background:url(../images/add.gif);margin:5px 0px 0px 8px;}

.center{overflow:hidden;margin-top:10px;}
.center .record{width:760px;float:left;}
.center .record .no_record{width:80px;height:80px;float:left;margin:7px;position:relative;}
.center .record .no_record .ysbj{background:url(../images/record.gif);width:80px;height:80px;position:absolute;left:0px;top:0px;}
.center .record .no_record .add_record{position:absolute;width:70px;height:70px;left:4px;top:4px;}
.center .record .no_record .add_record:hover{background:url(../images/jihao.gif) center center no-repeat;border:1px #ccc dashed;}
.center .right{float:right;}
.center .right_bg{background:url(../images/right.gif) no-repeat; height:495px;width:200px;padding-top:5px;margin-top:8px;}

.my_t{margin:10px;overflow:hidden;}
.my_t img{float:left;padding:2px; border:1px #ccc solid;margin-right:8px;}
.my_t div{float:left;}
.my_t div h2{font-size:16px;color:#7ae1f8;margin:5px 0px 15px 0px;}
.my_t div span{color:#666666;}
.my_t div span font{color:red;padding:5px;font-weight:bold}

.center .right .dotted{width:182px;margin:0 auto; height:6px;background:url(../images/dotted.gif)}

.center .right .title{width:168px;margin:0 auto;background:url(../images/sanjiao.gif) no-repeat left ;height:30px;padding-left:10px;line-height:30px;color:#023f6d;font-weight:bold;}

.center .right .user_list li{float:left;margin:5px 5px 10px 5px;width:55px;overflow:hidden;text-align:center;}
.center .right .user_list a{color:#0c7da8;}
.center .right .user_list li img{border:1px #ccc solid;padding:1px;}
.center .right .user_list div{text-align:right;margin-right:10px;}

.record_cl{left:0px;bottom:0px;display:block;width:80px;height:20px;background:#1091d3;line-height:20px;text-align:center;color:#fff;position:absolute;}
.record .icon{width:80px;height:80px;position:absolute;}

.placeHolder div { background-color:white !important; border:dashed 1px gray !important;height:80px;width:80px;}