<script type="text/javascript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#file1").formValidator({onshow:"请选择要导入的文件",onfocus:"请选择要导入的文件"}).inputValidator({min:2,onerror:"请选择要导入的文件"});

	
})
//-->
</script>
<form action="?m=module&c=import_info&a=init" method="post" id="myform" enctype="multipart/form-data">
<fieldset>
	<legend>{zhuayi:echo.$pagename/}</legend>
	<table width="100%"  class="table_form">
		<tr>
			<th width="100">选择导入文件：</th>
			<td class="y-bg"><input type="file" name="file1" id="file1" /></td>
		</tr>
	</table>
</fieldset>
<div class="bk15"></div>
<input type="submit" class="button" id="dosubmit" name="dosubmit" value="导入" />
</form>