
<form action="?m=sina&c=content_info&a=init" method="post" id="myform">
<fieldset>
	<legend>{zhuayi:echo.$pagename/}</legend>
	<table width="100%"  class="table_form">
		<tr>
			<th>栏目：</th>
			<td class="y-bg">
				<select name="cid" id="cid">
					<option value="">请选择</option>
					{zhuayi:sina_content_class_list}
						<option value="{zhuayi:echo.$fields['id']/}" <?php if($fields['id'] == $info['cid']){echo 'selected';};?>>{zhuayi:echo.$fields['classname']/}</option>
					{/zhuayi:sina_content_class_list}
				</select>
			</td>
		</tr>
		<tr>
			<th>内容：</th>
			<td colspan="2" class="y-bg">
				<textarea name="body" id="body" style="width:99%;height:60px;"><?php echo $info['body'];?></textarea>
			</td>
		</tr>
		<tr>
			<th>tags：</th>
			<td class="y-bg"><input type="text" class="input-text" name="tags" id="tags" value="{zhuayi:echo.$info['tags']/}" size="30" /></td>
		</tr>
	</table>
</fieldset>
<div class="bk15"></div>
<input type="hidden" name="id" value="{zhuayi:echo.$info['id']/}">
<input type="submit" class="button" id="dosubmit" name="dosubmit" value="提交" />
</form>