{zhuayi:include file="/zcms/admin/template/admin/头部.html"/}
<style>
.sbs{}
.sbul{margin:10px;}
.sbul li{line-height:30px;}
.button{margin-top:20px;}

</style>
<div class="col-2">

	<h6>提示区：</h6>
	<div class="sbs" id="update_tips" style="height:360px; overflow:auto;">

		<ul id="file" class="sbul">
			
		</ul>

	</div>
	</div>{zhuayi:include file="/zcms/admin/template/admin/底部.html"/}
<script>
arr = new Array({zhuayi:echo.$id/});
arrt = new Array({zhuayi:echo.$username/});
arrn = new Array({zhuayi:echo.$nick/});
i= -1;
num = arr.length;
if (arr[0] == '')
{
	tips('没有可要登录的帐号...',1)
}
else
{
	/* 执行函数 */
	activation()
}
function activation()
{
	i++;

	if ( num <= i)
	{
		tips('登录完毕',1);
		return false;
	}
	if (i % 100 ==0)
	{
		$("#file").empty();
	}
	$.get('/index.php?m=sina&c=login&a=init&act=1&id='+arr[i],function(data){
		tips('$ID：'+arr[i]+' -> 帐号： '+arrt[i]+' (昵称：'+arrn[i]+') 状态：'+data);
		
		setTimeout('activation()',2000);
	})
	
}

function tips(title,tru)
{
	if (tru == 1)
	{
		color='red';
	}
	else
	{
		color = '#009900';
	}
	$("#file").append('<li style="color:'+color+'">'+title+'  </li>');
	document.getElementById('update_tips').scrollTop = document.getElementById('update_tips').scrollHeight;
}
</script>