<script type="text/javascript">
<!--
$(function(){
	$("#code_img2").attr('src','/index.php?m=sina&c=activation&act=code&a=init&id=<?php echo $_REQUEST['id'];?>&time='+Math.random());
	$(".ajaxform").click(function(){
	
	$("#jieguo").val('正在激活...');
	/* post ajax */
	$.post($("#myform_sina").attr('action'),$("#myform_sina").serialize(),function(data){
		if (data == '-1')
		{
			$("#jieguo").val('帐号没有登录,不能激活');
			return false;
		}
		if (data == '-999')
		{
			$("#jieguo").val('IP被和谐了,赶快换一个吧');
			return false;
		}
		if (data == '1')
		{
			$("#jieguo").val('恭喜您，激活成功!');
			tb_show(null,'{zhuayi:echo.$weburl/}/index.php?m=sina&c=reg&height=300&a=init',false)
			return false;
		}
		$("#jieguo").val(data);
	})
	return false;
	})
})


//-->
</script>
<form action="?m=sina&c=activation&a=init&act=1" method="post" id="myform_sina">
<fieldset>
	<legend>当前代理IP：{zhuayi:echo.ret_cookie('agent_ip')/}</legend>
	<table width="100%"  class="table_form">
		<tr>
			<th>激活帐号：</th>
			<td class="y-bg">
				{zhuayi:echo.$info['username']/}
				　　
			</td>
		</tr>
		<tr>
			<th width="100">验证码：</th>
			<td class="y-bg">
				<input type="text" class="input-text" name="code" id="code" value="{zhuayi:echo.$info['code']/}" size="20" />
				<img src="" onclick="this.src='/index.php?m=sina&c=activation&act=code&a=init&id=<?php echo $_REQUEST['id'];?>&time='+Math.random()" style="cursor:pointer;" id="code_img2"/>
			</td>
		</tr>
	</table>
</fieldset>
<div class="bk15"></div>
<center><input type="submit" class="button ajaxform" id="dosubmit" name="dosubmit" value="激活" /><br>
<textarea style="color:red;width:200px;border:0px;height:20px;" id="jieguo"></textarea>
</center>
<input type="hidden" class="input-text" name="id" id="id" value="{zhuayi:echo.$info['id']/}" size="20" />
</form>
<script>
$("#code").focus();
</script>