{zhuayi:include file="/zcms/admin/template/admin/头部.html"/}
<style>
.sbs{}
.sbul{margin:10px;}
.sbul li{line-height:30px;}
.button{margin-top:20px;}

</style>

<div class="col-2">

	<h6>提示区：</h6>
	<div class="sbs" id="update_tips" style="height:550px; overflow:auto;">
		<ul class="sbul">
			<li style="color:#009900">任务已执行了 <font id="task_num"></font> 次</li>
		</ul>
		<ul id="file" class="sbul"></ul>

	</div>
	</div>{zhuayi:include file="/zcms/admin/template/admin/底部.html"/}
<script>
var title = new Array(<?php echo $title;?>);
var url = new Array(<?php echo $task_url;?>);
var username = new Array(<?php echo $username;?>);
var id = new Array(<?php echo $id;?>);
var i = 0;
var j = 0;
if (title[0]== 'undefined')
{
	tips('没有可要执行的动作...',1)
}
else
{
	task_queue();
}

/* 获取任务队列 */
function task_queue()
{
	if ( j >= title.length)
	{
		tips('本次任务执行完毕',1);
		/* 更换ADSL IP */
		setTimeout('window.location.reload()',1000000000);
		return false;
	}
	if (j % 10 ==0)
	{
		$("#file").empty();
	}

	/* 正在执行 */
	tips('正在执行:'+username[j]+' 的 '+title[j]+' 任务状态');
	$.get(url[j],function(data){
		tips(data);
		$.get('/index.php?m=sina&c=task_queue&a=init&act=2&reset='+data+'&id='+id[j],function(data2){
			//setTimeout('task_queue()',1000);
		})
		
	});
	j++;
}
function tips(title,tru)
{
	if (tru == 1)
	{
		color='red';
	}
	else
	{
		color = '#009900';
	}
	$("#file").append('<li style="color:'+color+'">'+title+'  </li>');
	document.getElementById('update_tips').scrollTop = document.getElementById('update_tips').scrollHeight;
}
</script>