{zhuayi:include file="/zcms/admin/template/admin/头部.html"/}
<form action="?m={zhuayi:echo.$_REQUEST['m']/}&c={zhuayi:echo.$_REQUEST['c']/}&a=init&act=2" method="post" id="myform">
<fieldset>
	<legend>关注某人</legend>
	<table width="100%"  class="table_form">
		<tr>
			<th width="120">某人地址：</th>
			<td  class="y-bg">
				<input type="text" class="input-text" name="default" id="default"  size="40" />
				<span>例如：http://t.sina.com.cn/1753070263/  (只填写1753070263,即可,多个ID用","隔开)</span>
			</td>
		</tr>
	</table>
	<center><input type="submit" class="button" id="dosubmit" name="dosubmit" value="关注" /></center>
</fieldset>
</form>
<div class="bk15"></div>
{zhuayi:include file="/zcms/admin/template/admin/底部.html"/}
