{zhuayi:include file="/zcms/admin/template/admin/头部.html"/}
<style>
.sbs{}
.sbul{margin:10px;}
.sbul li{line-height:30px;}
.button{margin-top:20px;}

</style>

<div class="col-2">

	<h6>提示区：</h6>
	<div class="sbs" id="update_tips" style="height:360px; overflow:auto;">
		<ul class="sbul">
			<li style="color:#009900">任务：正在进行请不要关闭此页面　已运行 <font id="timeout">1</font> 秒</li>
		</ul>
		<ul id="file" class="sbul"></ul>

	</div>
	</div>
{zhuayi:include file="/zcms/admin/template/admin/底部.html"/}
<script>
var i=1
function repx()
{
	//$("#timeout").html(i);
	i++;
	$.getJSON('/index.php?m=sina&c=task_account_play&a=init&act=1',function(data){
		if (data['url']!='')
		{
			//tips(data['url']);
			$.get(data['url'],function(data2){
				$.post('/index.php?m=sina&c=task_account_play&a=init&act=2',{id:data['id'],reset:data2},function(data){})
			})
			
		}
		else
		{
			$("#timeout").html(data['time']);
		}
		//else
		//{
			setTimeout('repx()',1000);
		//}
	})
}
repx();
function tips(title,tru)
{
	if (tru == 1)
	{
		color='red';
	}
	else
	{
		color = '#009900';
	}
	$("#file").append('<li style="color:'+color+'">'+title+'  </li>');
	document.getElementById('update_tips').scrollTop = document.getElementById('update_tips').scrollHeight;
}
</script>