<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="off">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>{zhuayi:echo.$webname/} - 后台管理中心</title>
<link href="{zhuayi:echo.model_url('admin','admin')/}css/reset.css" rel="stylesheet" type="text/css" />
<link href="{zhuayi:echo.model_url('admin','admin')/}css/system.css" rel="stylesheet" type="text/css" />
<link href="{zhuayi:echo.model_url('admin','admin')/}css/table_form.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{zhuayi:echo.model_url('admin','admin')/}css/styles2.css" title="styles1" media="screen" />
<script language="javascript" type="text/javascript" src="{zhuayi:echo.model_url('admin','admin')/}js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="{zhuayi:echo.model_url('admin','admin')/}js/admin_common.js"></script>
<script language="javascript" type="text/javascript" src="{zhuayi:echo.model_url('admin','admin')/}js/styleswitch.js"></script>
<script language="javascript" type="text/javascript" src="{zhuayi:echo.model_url('admin','admin')/}js/formvalidator.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="{zhuayi:echo.model_url('admin','admin')/}js/formvalidatorregex.js" charset="UTF-8"></script>
<script type="text/javascript" src="{zhuayi:echo.model_url('admin','admin')/}js/thickbox/thickbox.js"></script>
<link href="{zhuayi:echo.model_url('admin','admin')/}js/thickbox/thickbox.css" rel="stylesheet" type="text/css" />
</head>

<body scroll="no" style="overflow-y:hidden;">
<div id="dvLockScreen" class="ScreenLock" <?php if (empty($admin_lock)){ echo 'style="display:none"';}?>>

    <div id="dvLockScreenWin" class="inputpwd">

    <h5><b class="ico ico-info"></b><span id="lock_tips">锁屏状态，请输入密码解锁</span></h5>

    <div class="input">

    	<label class="lb">密码：</label><input type="password" id="lock_password" class="input-text" size="24">

        <input type="submit" class="submit" value="&nbsp;" name="dosubmit" onclick="check_screenlock();return false;">

    </div></div>

</div>

<div class="header">

	<div class="logo lf"><a href="{zhuayi:echo.$weburl/}/index.php?m=admin&c=index&a=init"><span class="invisible">{zhuayi:echo.$webname/}</span></a></div>

    <div class="rt">

    	<div class="tab_style white cut_line text-r">
			<a href="javascript:;" onclick="lock_screen()">
				<img src="{zhuayi:echo.$_REQUEST['app_url']/}admin/images/icon/lockscreen.png"> 锁屏</a><span>|</span>
			<a href="http://www.zcms.cc" target="_blank">官方网站</a><span>|</span>
			<a href="http://www.zcms.cc/bbs" target="_blank">支持论坛</a><span>|</span>
			<a href="http://www.zcms.cc" target="_blank">帮助？</a>
        </div>
        <div class="style_but"></div>

    </div>

    <div class="col-auto" style="overflow: visible">

    	<div class="log white cut_line">
			您好！{zhuayi:echo.$info['username']/}
			[{zhuayi:echo.$info['groupname']/}]
			<span>|</span>
			<a href="/?m=admin&c=logout&a=init">[退出]</a>
			<span>|</span>
    		<a href="/" target="_blank" id="site_homepage">站点首页</a><span>|</span>
			登录时间: {zhuayi:echo.dtime($info['login_time'])/}
    	</div>

        <ul class="nav white">
		{zhuayi:menu_list parent_id =0 limit=999 id=$info['purview']}
			<li id="_M10" class="<?php if ($key==0){echo 'on ';}?>top_menu">
				<a href="/index.php?m=admin&c=menu&a=init&id={zhuayi:echo.$fields['id']/}" hidefocus="true" style="outline:none;">{zhuayi:echo.$fields['title']/}</a>
			</li>
		{/zhuayi:menu_list}
        </ul>

    </div>

</div>

<div id="content">
	<div class="col-left left_menu">

    	<div id="leftMain"></div>
        <a href="javascript:;" id="openClose" style="outline-style: none; outline-color: invert; outline-width: medium;" hideFocus="hidefocus" class="open" title="展开与关闭"><span class="hidden">展开</span></a>
		</div>


    <div class="col-auto mr8">

		<div class="crumbs">

			<div class="shortcut cu-span">
				<a href="/index.php?m=admin&c=del_cache&a=init" target="right"><span>更新缓存</span></a>
				<a href="/index.php?m=admin&c=my&a=init&height=210" class="thickbox"><span>修改个人信息</span></a>
			</div>

			当前位置：<span id="current_pos1"><a id="zcms"/>ZCMS</a> > <span id="current_pos"></span>
		</div>

    	<div class="col-1">
				<iframe name="right" id="rightMain" src="/index.php?m=admin&c=right&a=init" frameborder="false" scrolling="auto" style="overflow-x:hidden;border:none; " width="100%" height="auto" allowtransparency="true"></iframe>
        </div>

    </div>

</div>
<script type="text/javascript"> 

//clientHeight-0; 空白值 iframe自适应高度

function windowW(){

	if($(window).width()<980){

			$('.header').css('width',980+'px');

			$('#content').css('width',980+'px');

			$('body').attr('scroll','');

			$('body').css('overflow','');
			
			$
	}

}

windowW();

$(window).resize(function(){

	if($(window).width()<980){

		windowW();

	}else{

		$('.header').css('width','auto');

		$('#content').css('width','auto');

		$('body').attr('scroll','no');

		$('body').css('overflow','hidden');
	}

});



$(function(){
	
	//------
	heights = $(window).height()-$(".crumbs").height()-$(".header").height();
	$("#rightMain").height(heights-20);
	var openClose = $("#rightMain").height()+39;
	
	$("#openClose").height(openClose+30);	
	//------顶部导航
	
	$(".top_menu > a").click(function(){
		$(this).parent().addClass('on').siblings().removeClass('on');
		$("#zcms").html($(this).html());
		$.get($(this).attr('href'),function(data){				
				$("#leftMain").empty();
				$("#leftMain").append(data)
		})
		return false;
	})
	$(".top_menu > a"). eq(0).click();
	//左侧开关
	$("#openClose").click(function(){

	if($(this).data('clicknum')==1) {

		$("html").removeClass("on");

		$(".left_menu").removeClass("left_menu_on");

		$(this).removeClass("close");

		$(this).data('clicknum', 0);

	} else {

		$(".left_menu").addClass("left_menu_on");

		$(this).addClass("close");

		$("html").addClass("on");

		$(this).data('clicknum', 1);

	}

	return false;

});

})

function switchs(obj)
{
	//-----取得上级同辈的紧邻下一个元素
	var parent = $(obj).parent().next('ul')
	if ($(parent).css('display')=='block')
	{
		$(obj).addClass('cu').removeClass('on');
		$(parent).css('display','none');
	}
	else
	{
		$(obj).addClass('on');
		$(parent).css('display','block');
	}
}

function click_color(obj)
{
	$(".sub_menu").removeClass('on fb blue')
	$(obj).addClass('on fb blue');
	str = $(obj).parent().parent().children("h3").html().replace(/<[^>]*>/g,'');
	$("#current_pos").html(str +' > '+ '<span id="right_menu">'+$(obj).children("a").html()+'</span>');
	//--------
	$("#rightMain").attr("src",$(obj).children("a").attr("href"));
	
	return false;
}

function lock_screen()
{
	$("#dvLockScreen").css('display','block');
	$("#lock_password").val('');
	$.post('/index.php?m=admin&c=lock&a=init&lock=1',{'l':'1'},function(data){
		//alert(data);
	})
}

function check_screenlock()
{
	$.post('/index.php?m=admin&c=lock&a=init',{'password':$("#lock_password").val()},function(data){
		if (data == '-1')
		{
			alert('您登录超时了，请重新登录');
			window.location.href = '/index.php?m=admin&c=login&a=init';
			return false;
		}
		if (data == '-2')
		{
			alert('密码错误,不允许登录..');
			return false;
		}
		$("#dvLockScreen").css('display','none');
	})
}

</script>

</body>

</html>