<script>

$(function(){
	//-----左侧点击隐藏显示
	$(".switchs").click(function(){
		switchs($(this))
	})
	var regEx = '/<[^>]*>/g';
	//------左侧子级菜单点击样式
	$(".sub_menu").click(function(){
		return click_color($(this));
	})
})
</script>
<?php
	if (empty($_REQUEST['parent_id']))
	{
		$_REQUEST['parent_id']=-1;
	}
?>
{zhuayi:menu_list limit=999 parent_id=$_REQUEST['id'] id=$info['purview']}
	<div>
		<h3 class="f14">
			<span class="switchs on cu" title="展开与收缩"></span>{zhuayi:echo.$fields['title']/}
		</h3>
		<ul style="display: block; ">
			{zhuayi:menu_list limit=20 parent_id=$fields['id']  id=$info['purview']}
			<li id="_MP972" class="sub_menu ">
				<a href="{zhuayi:echo.$fields['url']/}" hidefocus="true" style="outline:none;">{zhuayi:echo.$fields['title']/}</a>
			</li>
			{/zhuayi:menu_list}
		</ul>
	</div>
{/zhuayi:menu_list}
