{zhuayi:include file="/zcms/admin/template/admin/头部.html"/}
<style>
.sbs{}
.sbul{margin:10px;}
.sbul li{line-height:30px;}
.button{margin-top:20px;}

</style>	<div class="col-2">

	<h6>提示区：</h6>
	<div class="sbs" id="update_tips" style="height:360px; overflow:auto;">
		<ul class="sbul" style="color:red">
			<li>本次更新内容：</li>
			<li>{zhuayi:echo.$update_info['zcms_upload_tips']/}</li>
		</ul>
		<ul id="file" class="sbul">
			
		</ul>

	</div>
	</div>{zhuayi:include file="/zcms/admin/template/admin/底部.html"/}
<script>
arr = new Array({zhuayi:echo.$file/});
var i=0;
var regNum=/^\d*$/;

function generate()
{
	
	
	url = '/index.php?m=admin&c=update&a=init&update=1&page='+i;
	
	if ( i < arr.length)
	{
		//------清屏
		if (i % 100 ==0)
		{
			$("#file").empty();
		}
		$.get(url,function(data){
			error = data
			data = parseInt(data);
			if (regNum.test(data))
			{
				$("#file").append('<li style="color:#009900">文件: '+arr[i]+'    -> 更新成功... </li>');
				i = data;
			}
			else
			{
				$("#file").append('<li style="color:red">文件: '+arr[i]+' 更新失败...原因：'+error+' </li>');
			}
			document.getElementById('update_tips').scrollTop = document.getElementById('update_tips').scrollHeight;
			i++;
			setTimeout('generate()',500);
		})
		
	}
	else
	{
		$.get('/index.php?m=admin&c=update&a=init&update=2',function(data){
		
			if (data == '0')
			$("#file").append('<li style="color:#009900">更新完毕... </li>');
			else
			$("#file").append('<li style="color:red">数据库更新失败...'+data+' </li>');
			document.getElementById('update_tips').scrollTop = document.getElementById('update_tips').scrollHeight;
		})
	}
}


generate()
</script>
