{zhuayi:include file="/zcms/admin/template/admin/头部.html"/}
<style>
.sbs{}
.sbul{margin:10px;}
.sbul li{line-height:30px;}
.button{margin-top:20px;}
.subnav,.ifm{display:none;}
</style>
<div class="col-2">

<h6>提示区：</h6>
<div class="sbs" id="update_tips" style="height:360px; overflow:auto;">

	<ul id="file" class="sbul">

	</ul>

</div>
</div><iframe  src="/index.php?m=admin&c=del_cache&a=init&if=1" frameborder="false"  width="0" height="0"></iframe>

{zhuayi:include file="/zcms/admin/template/admin/底部.html"/}