<div class="bk15"></div>
<fieldset>
	<legend>SEO设置</legend>
	<table width="100%"  class="table_form">
		<tr id="seo_url">
			<th width="100">自定义URL：</th>
			<td class="y-bg">
			<input type="text" class="input-text" name="request_url" id="request_url" value="{zhuayi:echo.$seo['url']/}" size="60" />
			<input name="parameter" id="parameter" value="1" size="35" type="checkbox" <?php if ($seo['parameter']==1){echo 'checked';};?> /> 模糊匹配
			<span><br>二级域名必须以‘http://’开头,顶级域名必须以'/'开头的任意不重复字符串,结尾不要加"/"、模糊匹配勾选允许自定义URL后边再继续跟参数,如:/page/2/
			<br><font color="red">可用标签：{id}-->会自动替换成信息ID</font></span>
			</td>
		</tr>
		<tr>
			<th  width="100">SEO标题：</th>
			<td class="y-bg">
			<input type="text" name="seo_title" id="seo_title" value="{zhuayi:echo.$seo['seo_title']/}" size="30"/></td>
		</tr>
		<tr>
			<th>SEO关键词：</th>
			<td>
			<input type="text" name="seo_keywords" id="seo_keywords" value="{zhuayi:echo.$seo['seo_keywords']/}" size="60"/>
			<span><br />格式: 关键词1,关键词2,关键词3(最多100个字符)</span>
			</td>
		</tr>
		<tr>
			<th>SEO描述：</th>
			<td>
			<textarea name="seo_description" cols="60" class="t" tabindex="1" style="width:99%;height:50px">{zhuayi:echo.$seo['seo_description']/}</textarea>
			<span><br />文本格式,最多250个字符</span>
			</td>
		</tr>
	</table>
</fieldset>