</div>
<?php
$pageendtime = microtime(); 
$starttime = explode(" ",$pagestartime); 
$endtime = explode(" ",$pageendtime); 
$totaltime = $endtime[0]-$starttime[0]+$endtime[1]-$starttime[1]; 
$timecost = sprintf("%0.2f",$totaltime); 
?>
<strong class="copyright">
共执行{zhuayi:echo.$query->querynum; /} 个查询，用时 {zhuayi:echo.$timecost; /}秒 Gzip 已禁用，内存占用 <?php echo sprintf('%0.2f', memory_get_usage() / 1048576 );?> MB <br />
Powered By 
{zhuayi:echo.$zcms_version/} &copy; 2007-2010 <a href="http://www.zcms.cc" title="zcms" target="_blank">Zhuayi</a> (zcms.cc) 版权所有
</strong>
</body>