{zhuayi:include file="/zcms/admin/template/admin/头部.html"/}
<script type="text/javascript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#order_num").formValidator({onshow:"点击自动生成订单编号",onfocus:"菜单名称不能为空"}).inputValidator({min:2,max:20,onerror:"菜单名称不能为空"});
	$("#purchaser").formValidator({onshow:"请输入购货人",onfocus:"请输入购货人"}).inputValidator({min:2,onerror:"购货人不能为空"});
	$("#username").formValidator({onshow:"请输入收货人",onfocus:"请输入收货人"}).inputValidator({min:2,onerror:"收货人不能为空"});
	$("#email").formValidator({onshow:"请输入电子邮件",onfocus:"请输入电子邮件"});
	$("#zip").formValidator({onshow:"请输入邮编",onfocus:"请输入邮编"});
	$("#tel").formValidator({onshow:"请输入电话",onfocus:"请输入电话"});
	$("#mobile").formValidator({onshow:"请输入手机",onfocus:"请输入手机"});
	$("#title").formValidator({onshow:"请输入商品名称",onfocus:"请输入商品名称"});
	$("#product_num").formValidator({onshow:"请输入商品编号",onfocus:"请输入商品编号"}).inputValidator({min:2,onerror:"商品编号不能为空"})
	$("#price").formValidator({onshow:"请输入商品价格",onfocus:"请输入商品价格"}).inputValidator({min:2,max:20,onerror:"商品价格不能为空"});
	$("#num").formValidator({onshow:"请输入商品购买数量",onfocus:"请输入商品购买数量"}).inputValidator({min:1,max:20,onerror:"商品购买数量不能为空"});
	$("#virtue").formValidator({onshow:"请输入商品属性，如，红色，蓝色",onfocus:"请输入商品属性"});
	
	//-----抓取产品
	$("#product_num").blur(function(){
		$.getJSON("{zhuayi:echo.$productapi/}"+$(this).val(),function(data){
			$("#title").val(decodeURI(data['title']));
			$("#price").val(data['price']);
			$("#order_num").val(data['order_num']);
		})
	})
	
})
//-->
</script>
<form action="?m=order&c=info&a=init" method="post" id="myform">

<fieldset>
	<legend>商品信息</legend>
	<table width="100%"  class="table_form">
		<tr>
			<th>商品编号：</th>
			<td class="y-bg">
				<input type="text" class="input-text" name="product[0][product_num]" id="product_num"  size="30" />
			</td>
		</tr>
		<tr>
			<th width="100">商品名称：</th>
			<td class="y-bg"><input type="text" class="input-text" name="product[0][title]" id="title"  size="30" /></td>
		</tr>
		<tr>
			<th>价格：</th>
			<td class="y-bg">
				<input type="text" class="input-text" name="product[0][price]" id="price"  size="30" />
			</td>
		</tr>
		<tr>
			<th>数量：</th>
			<td class="y-bg">
				<input type="text" class="input-text" name="product[0][num]" id="num"  size="30" />
			</select>
			</td>
		</tr>
		<tr>
			<th>属性：</th>
			<td class="y-bg">
				<input type="text" class="input-text" name="product[0][virtue]" id="virtue"  size="30" />
			</td>
		</tr>
	</table>
</fieldset>
<div class="bk15"></div>
<fieldset>
	<legend>订单信息</legend>
	<table width="100%"  class="table_form">
		<tr>
			<th width="100">订单号：</th>
			<td class="y-bg"><input type="text" class="input-text" name="order_num" id="order_num"  size="30" /></td>
		</tr>
		<tr>
			<th>购货人：</th>
			<td class="y-bg"><input type="text" class="input-text" name="purchaser" id="purchaser"  size="30" /></td>
		</tr>
		<tr>
			<th>订单备注：</th>
			<td class="y-bg"><input type="text" class="input-text" name="remarks" id="remarks" size="80" /></td>
		</tr>
	</table>
</fieldset>
<div class="bk15"></div>
<fieldset>
	<legend>收货人信息</legend>
	<table width="100%"  class="table_form">
		<tr>
			<th width="100">收货人：</th>
			<td class="y-bg"><input type="text" class="input-text" name="consignee[username]" id="username"  size="30" /></td>
		</tr>
		<tr>
			<th>电子邮件：</th>
			<td class="y-bg"><input type="text" class="input-text" name="consignee[email]" id="email"  size="30" /></td>
		</tr>
		<tr>
			<th>送货地址：</th>
			<td class="y-bg">
				<input type="text" class="input-text" name="consignee[address]" id="address"  size="30" />
			</td>
		</tr>
		<tr>
			<th>邮编：</th>
			<td class="y-bg">
				<input type="text" class="input-text" name="consignee[zip]" id="zip"  size="30" />
			</select>
			</td>
		</tr>
		<tr>
			<th>电话：</th>
			<td class="y-bg">
				<input type="text" class="input-text" name="consignee[tel]" id="tel"  size="30" />
			</td>
		</tr>
		<tr>
			<th>手机：</th>
			<td class="y-bg">
				<input type="text" class="input-text" name="consignee[mobile]" id="mobile"  size="30" />
			</td>
		</tr>
	</table>
</fieldset>
<div class="bk15"></div>
<input type="submit" class="button ajaxform" id="dosubmit" name="dosubmit" value="提交" />
</form>


{zhuayi:include file="/zcms/admin/template/admin/底部.html"/}