{zhuayi:include file="/zcms/admin/template/admin/头部.html"/}
<form action="?m=order&c=config_info&a=init" method="post" id="myform">
<fieldset>
	<legend>订单接口</legend>
	<table width="100%"  class="table_form">
		<tr>
			<th width="150">会员API：</th>
			<td class="y-bg"><input type="text" class="input-text" name="order_config[userapi]" id="userapi" value="{zhuayi:echo.$userapi/}" size="60" /></td>
		</tr>
		<tr>
			<th>产品API：</th>
			<td class="y-bg"><input type="text" class="input-text" name="order_config[productapi]" id="weburl" value="{zhuayi:echo.$productapi/}" size="60" /></td>
		</tr>
	</table>
</fieldset>
<div class="bk15"></div>
<input type="hidden" name="filename" value="order_config"/>
<input type="submit" class="button ajaxform" id="dosubmit" name="dosubmit" value="提交" />
</form>


{zhuayi:include file="/zcms/admin/template/admin/底部.html"/}