<script type="text/javascript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"category_form",onerror:function(msg){}});
	$("#category").formValidator({onshow:"请输入分类名称",onfocus:"请输入分类名称"}).inputValidator({min:2,max:60,onerror:"请输入分类名称"});
})
//-->
</script>

<form action="/blog/category_info" method="post" id="category_form">
<fieldset>
	<legend><?php echo $show['pagename'];?></legend>
	<table width="100%"  class="table_form">
		<tr>
			<th width="80">分类标题：</th>
			<td class="y-bg">
				<input type="text" class="input-text" name="category" id="category" value="<?php echo $show['info']['category'];?>" size="30" />
			</td>
		</tr>
	</table>
</fieldset>
<div class="bk15"></div>
<input type="hidden" name="id" value="<?php echo $show['info']['id'];?>">
<input type="submit" class="button" id="button"  value="提交" />
</form>