.article_left,.article_list_class{width:700px;border:1px #e5ebef solid;background:#f9fcff;padding-bottom:10px;}
.article_left h1{text-align:center;margin:20px 0px 10px 0px;font-size:24px;color:#333;}
.article_left .share{text-align:center;padding-bottom:10px;_padding-bottom:0px;zoom:1;width:670px;margin:0 auto;}
#ckepop{margin:15px 0px 0px 0px;}
#body{line-height:180%;clear:both;padding:10px 20px;text-indent:2em;color:#333333;font-size:14px;}
.article_left .tags{border:1px #ccc dashed;background:#fff;height:25px;line-height:25px;font-weight:bold;width:660px;margin:0 auto;padding-left:10px;color:#333;}
.article_left .tags a{color:#333;}
.article_left .infonext{width:655px;padding:10px 0px 10px 15px;margin:10px auto 0px auto;border:1px #ccc dashed;overflow:hidden;background:#fff;}
.article_left .infonext li{list-style:disc;margin-left:5px;}
.article_left .infonext .float_right{margin-right:10px;}
.jiange{height:2px;margin:10px auto 10px auto;background-position:0px -60px;width:670px;overflow:hidden;}
.interrelated{width:640px;margin:5px auto 5px auto;}
.interrelated span{font-size:14px;color:#333;font-weight:bold;}
.interrelated_list{width:640px;margin:0 auto;}
.interrelated_list ul{}
.interrelated_list li{width:48%;float:left;line-height:25px;color:#0b3b8c;font-size:14px;height:25px;overflow:hidden;background:url(../images/zcms.png) 0px -455px no-repeat;padding-left:10px;}
.interrelated .float_right a{color:red;margin-right:10px;}

.bright{background:#dfeefc;border:1px #b8d5ee solid;width:670px;margin:0 auto;font-size:14px;}
.bright div{float:left;padding:13px;text-align:center;border-right:1px #b8d5ee solid;}
.bright div img{width:220px;height:150px;margin-bottom:5px;}
.bright ul{float:left;margin:10px 0px 0px 10px;}
.bright ul li{line-height:25px;height:25px;border-bottom:1px #c4ddf1 dotted;color:#004499;background:url(../images/zcms.png) 0px -455px no-repeat;padding-left:10px;}

.w_960 .article_list_class h1{padding:20px;font-size:20px;color:#333;font-family:"ºÚÌå"}
.w_960 .article_list_class ul{border-top:1px dotted #ccc;padding:10px;margin-bottom:15px;width:650px;margin:0 auto;overflow:hidden;}
.w_960 .article_list_class .list_title{color:#004499;font-weight:bold;font-size:14px;}
.w_960 .article_list_class .list_title span{font-size:12px;float:right;color:#787878;font-weight:normal;}
.w_960 .article_list_class .text{line-height:23px;padding:13px 0px;color:#878787;}
.w_960 .article_list_class .text img{padding:2px;border:1px #ccc solid;float:left;margin-right:10px;}
.w_960 .article_list_class a:link{color:#004499;text-decoration:none;}
.w_960 .article_list_class a:visited{color:#004499;text-decoration:none;}
.w_960 .article_list_class a:hover{color:#004499;text-decoration:underline;}
.w_960 .article_list_class .page{margin-bottom:20px;}

.search_info{width:98%;background:#eaeff2;margin:5px auto 10px auto;padding-bottom:10px;}
.article_list_class .search_info h1{margin:0px;padding:10px 10px 5px 19px;}
.search_info span{color:#98999b;padding:0px 0px 0px 20px;}
/* Í¼Æ¬ÓÐ¹Ø */
.img_wrapper{text-align:center}
.img_wrapper img{border:1px solid #000; display:block; margin:0 auto}
.img_wrapper .img_descr{ margin:5px auto; display:inline-block; display:-moz-inline-stack;zoom:1; text-align:left}