<?php require $this->load_tpl('index_header');?>
<link type="text/css" rel="stylesheet" href="/zhuayi/index/template/style/index.css" />
<div class="cent">
	<div class="center">
		<div class="zhuayi">
			<div class="one">
				<h2 class="text4">Zhuayi 是为谁准备的？</h2>
				<ul>
					<li><span>轻量级</span>你想要一个小巧但强大的框架。</li>
					<li><span>快速的</span>你需要出色的性能。</li>
					<li><span>可扩展</span>你想要一个高效可配置的框架。</li>
					<li><span>自由的</span>你想要一个不需坚守限制性编码规则的框架。</li>
					<li><span>原生的</span>你不希望被迫学习一门模板语言。</li>
					<li><span>简单的</span>你不喜欢复杂，热爱简单。</li>
					<li><span>原生的</span>你需要清晰、完整的文档。</li>
				</ul>
			</div>
			<div class="plugin">
				<h2 class="text4">插件下载</h2>
				<ul>
				<?php foreach ($show['plugin_list'] as $val){?>
					<li><span><a href="/plugin/<?php echo $val['name'];?>"><?php echo $val['title'];?></a></span></li>
				<?php }?>
				</ul>
			</div>
			<div class="modle">
				<h2 class="text4">模块下载</h2>
				<ul>
					<li><span>轻量级</span>你想要一个小巧但强大的框架。</li>
					<li><span>快速的</span>你需要出色的性能。</li>
					<li><span>可扩展</span>你想要一个高效可配置的框架。</li>
					<li><span>自由的</span>你想要一个不需坚守限制性编码规则的框架。</li>
					<li><span>原生的</span>你不希望被迫学习一门模板语言。</li>
					<li><span>简单的</span>你不喜欢复杂，热爱简单。</li>
					<li><span>原生的</span>你需要清晰、完整的文档。</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<?php require $this->load_tpl('index_footer');?>
