<?php require $this->load_tpl('plugin_header');?>
<div class="w100 overflow">
	<div class="left">
		<h2 class="title">
			<a href="/">Zhuayi</a> <span> > 
			<a href="/about/">关于我们</a></span>
		</h2>
		<div class="plugins">
			<h1>关于 Zhuayi</h1>
			<p>这个框架是为真实网站而编写的，集成了很多类库、辅助函数、模块以及从其他开源项目移植来的类库。</p>
			<p>这Zhuayi 当前由Fruit” 团队开发并维护,并长期维护由Zhuayi搭建的一系列网站.</p>
		</div>
	</div>
	<div class="right">
		<?php $this->load_modle('plugin_right');?>
	</div>
</div>
<?php require $this->load_tpl('plugin_footer');?>