{zhuayi:include file="头部.html"/}
<link href="{zhuayi:echo.$path/}style/single.css" rel="stylesheet" type="text/css" />
<div class="w_960 location">
	当前位置：
	<a href="/">首页</a> > {zhuayi:echo.$info['title']/}
	
</div>
<div class="w_960 overflow single">
	<div class="single_left float_left">
	{zhuayi:single_list parent_id=0}
		<div class="title zcms"><a href="{zhuayi:echo.$fields['url']/}">{zhuayi:echo.$fields['title']/}</a></div>
		{zhuayi:single_list parent_id=$fields['id']}
		<ul>
			<li><a href="{zhuayi:echo.$fields['url']/}">{zhuayi:echo.$fields['title']/}</a></li>
		</ul>
		{/zhuayi:single_list}
	{/zhuayi:single_list}
	</div>
	<div class="single_right float_right">
		<div class="title">{zhuayi:echo.$info['title']/}</div>
		<div class="body">
			{zhuayi:echo.$info['body']/}
		</div>
	</div>
</div>
{zhuayi:include file="底部.html"/}