{zhuayi:include file="头部.html"/}
<link href="{zhuayi:echo.$path/}style/index.css" rel="stylesheet" type="text/css" />
<div class="w_960 overflow">
	<div class="index_top_left float_left">
		<div class="flash">
			<script type="text/javascript">
<!--
var focus_width=296
var focus_height=225
var text_height=24
linkarr = new Array();
picarr = new Array();
textarr = new Array();
var files = "";
var links = "";
var texts = "";

{zhuayi:article_list limit=5 litpic=1 flag="huandengpian"}
linkarr[{zhuayi:echo.$key/}] = "{zhuayi:echo.$fields['url']/}";
picarr[{zhuayi:echo.$key/}]  = "{zhuayi:echo.litpic($fields['litpic'],296,225)/}";
textarr[{zhuayi:echo.$key/}]  = '{zhuayi:echo.$fields['title']/}';
{/zhuayi:article_list}
for(i=0;i<picarr.length;i++){
  if(files=="") files = picarr[i];
  else files += "|"+picarr[i];
}
for(i=0;i<linkarr.length;i++){
  if(links=="") links = linkarr[i];
  else links += "|"+linkarr[i];
}
for(i=0;i<textarr.length;i++){
  if(texts=="") texts = textarr[i];
  else texts += "|"+textarr[i];
}


var swf_height = focus_height+text_height
function clearText(str)
{
	return str.substr(0, str.length - 1);
}
var pics=clearText(files+'|')
var links=clearText(links+'|')
var texts=clearText(texts+'|')
document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cabjavascript:void(0)version=6,0,0,0" width="'+ focus_width +'" height="'+ swf_height +'"  hspace="0">');
document.write('<param name="allowScriptAccess" value="sameDomain"><param name="movie" value="{zhuayi:echo.$path/}/images/pixviewer.swf"><param name="quality" value="high"><param name="bgcolor" value="#ffffff">');
document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'">');
document.write('<embed src="{zhuayi:echo.$path/}/images/pixviewer.swf" wmode="opaque" FlashVars="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'" menu="false" bgcolor="#ffffff" quality="high" width="'+ focus_width +'" height="'+ swf_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');
document.write('</object>');					
//-->
 </script>

		</div>

		<div class="title zcms">
			<span class="float_left">最新热门</span>
		</div>
		<div class="article_list">
			<ul class="zcms">
			{zhuayi:article_list limit=10 flag="remen"}
				<li><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
			{/zhuayi:article_list}
			</ul>
		</div>
	</div>
	<div class="index_top_cen float_left">
	{zhuayi:article_list limit=1 start=1 titlelen=38}
		<div class="tuijian zcms">
			<h2><a href="{zhuayi:echo.$fields['url']/}">{zhuayi:echo.$fields['title']/}</a></h2>
			<span>{zhuayi:echo.$fields['abstract']/}</span>
		</div>
	{/zhuayi:article_list}
		<div class="title">
			<span class="float_left">最新资讯</span>
		</div>
		<div class="article_list">
			<ul>
			<?php $i=1;?>
			{zhuayi:article_list limit=10 start=1}
				<li><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a><span>({zhuayi:echo.dtime($fields['dtime'],'m月d日')/})</span></li>
			<?php $i++;
			if ($i%6 ==0){echo '</ul><ul>';}
			?>
			{/zhuayi:article_list}
			</ul>
		</div>
		<div class="title">
			<span class="float_left">最新关注</span>
		</div>
		<div class="article_list">
		{zhuayi:article_list limit=1 start=11}
			<h2><a href="{zhuayi:echo.$fields['url']/}">{zhuayi:echo.$fields['title']/}</a></h2>
		{/zhuayi:article_list}
			<ul>
			{zhuayi:article_list limit=4 start=12}
				<li>
					<a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a>
					<span>{zhuayi:echo.dtime($fields['dtime'],'m月d日')/}</span>
				</li>
			{/zhuayi:article_list}
			</ul>
		</div>
	</div>
	<div class="index_top_right float_right">
		<div class="title zcms">
			<span class="float_left">推荐资讯</span>
		</div>
		<div class="article_list">
		{zhuayi:article_list limit=1 litpic=1 flag="tuijian"}
			<div class="article_pic overflow">
				<a href="{zhuayi:echo.$fields['url']/}"  target="_blank"><img src="{zhuayi:echo.litpic($fields['litpic'],62,62)/}" width="62" /></a>
				<div class="float_left">
					<h3><a href="{zhuayi:echo.$fields['url']/}"  target="_blank">{zhuayi:echo.$fields['title']/}</a></h3>
					{zhuayi:echo.strlens($fields['abstract'],0,40)/}...<a href="{zhuayi:echo.$fields['url']/}" target="_blank">更多>></a>
				</div>
			</div>
		{/zhuayi:article_list}
			<div class="jiange zcms"></div>
			<ul>
			{zhuayi:article_list limit=7 start=1 flag="tuijian"}
				<li><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
			{/zhuayi:article_list}
			</ul>
		</div>
		
		<div class="title zcms">
			<span class="float_left">最新推荐</span>
		</div>
		<div class="article_list">
			<ul>
			{zhuayi:article_list limit=9 start=9 flag="tuijian"}
				<li><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
			{/zhuayi:article_list}
			</ul>
		</div>
	</div>
</div>

<div class="w_960 overflow">
	<div class="index_top_pic_list float_left">
		<div class="title zcms">
			<span class="float_left">精彩瞬间</span>
		</div>
		<div class="article_pic_list overflow zcms">
			<a href="#" class="pic_left float_left zcms">点击左滑动</a>
			<ul class="float_left">
			{zhuayi:article_list limit=5 litpic=1 titlelen=26}
				<li <?php if ($key == 5){echo 'margin-right:0px;';}?>><a href="{zhuayi:echo.$fields['url']/}"><img src="{zhuayi:echo.litpic($fields['litpic'],'160',120)/}" height="120" /></a><br><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
			{/zhuayi:article_list}
			</ul>
			<a href="#" class="pic_right float_left zcms">点击左滑动</a>
		</div>
	</div>
</div>

<div class="w_960 overflow" style="margin-top:10px;">
	<div class="float_left"><script type="text/javascript" src="http://www.153k.com/index.php?m=ads&c=show&id=19"></script></div>
	<div class="float_right"><script type="text/javascript" src="http://www.153k.com/index.php?m=ads&c=show&id=20"></script></div>
</div>

{zhuayi:article_class_list parent_id=0}
<?php $cid = $fields['id'];?>
<div class="w_960 channl zcms">
	<h2 class="float_left"><a href="{zhuayi:echo.$fields['url']/}">{zhuayi:echo.$fields['classname']/}</a></h2>
	<span class="float_right">
	{zhuayi:article_class_list parent_id=$fields['id']}
	<?php $cid .= ','.$fields['id'];?>
		<a href="{zhuayi:echo.$fields['url']/}">{zhuayi:echo.$fields['classname']/}</a> |
	{/zhuayi:article_class_list}
	</span>
</div>
<div class="w_960 index_center">
	<div class="index_center_left float_left">
		<div class="title zcms">
			<span class="float_left">热门资讯</span>
		</div>
		<div class="article_list">
			<div class="pic_info">
			{zhuayi:article_list limit=2  flag="remen" litpic=1 cid=$cid}
				<a href="{zhuayi:echo.$fields['url']/}" target="_blank"><img src="{zhuayi:echo.litpic($fields['litpic'],135,90)/}" width="135" height="90"/></a>
			{/zhuayi:article_list}
			</div>
			{zhuayi:article_list limit=1  flag="remen" litpic=1 start=1 cid=$cid titlelen=36}
			<div class="tuijian">
				<h3><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></h3>
				<span>{zhuayi:echo.$fields['abstract']/}...<font><a href="{zhuayi:echo.$fields['url']/}" target="_blank">[详细]</a></font></span>
			</div>
			{/zhuayi:article_list}
			<div class="jiange zcms"></div>
			<ul>
			{zhuayi:article_list limit=5 start=3 flag="remen" cid=$cid}
				<li><a href="{zhuayi:echo.$fields['classurl']/}" target="_blank">[{zhuayi:echo.$fields['classname']/}]</a> <a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
			{/zhuayi:article_list}
			</ul>
		</div>
		<div class="title zcms">
			<span class="float_left">热门排行</span>
		</div>
		<div class="article_list">
		{zhuayi:article_list limit=1  flag="remen" litpic=1 start=9 cid=$cid titlelen=36}
			<div class="tuijian tops">
				<h3><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></h3>
				<span>{zhuayi:echo.$fields['abstract']/}...<font><a href="{zhuayi:echo.$fields['url']/}" target="_blank">[详细]</a></font></span>
			</div>
		{/zhuayi:article_list}
			<div class="jiange zcms"></div>
			<ul>
			{zhuayi:article_list limit=5 start=10 flag="remen" cid=$cid}
				<li><a href="{zhuayi:echo.$fields['classurl']/}" target="_blank">[{zhuayi:echo.$fields['classname']/}]</a> <a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
			{/zhuayi:article_list}
			</ul>
		</div>
	</div>
	<div class="index_center_cen float_left">
		<div class="title">
			<span class="float_left">最新资讯</span>
		</div>
		<div class="article_list">
		{zhuayi:article_list limit=1 cid=$cid}
			<div class="tuijian">
				<h3><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></h3>
				<span>{zhuayi:echo.$fields['abstract']/}...<font><a href="{zhuayi:echo.$fields['url']/}" target="_blank">[详细]</a></font></span>
			</div>
		{/zhuayi:article_list}
			<div class="jiange zcms"></div>
			<ul>
			<?php $i=1;?>
			{zhuayi:article_list limit=20 start=1 cid=$cid}
				<li><a href="{zhuayi:echo.$fields['classurl']/}" target="_blank">[{zhuayi:echo.$fields['classname']/}]</a> <a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a><span>{zhuayi:echo.dtime($fields['dtime'],'m月d日')/}</span></li>
			<?php $i++;
			if ($i%6 ==0){echo '</ul><ul>';}
			?>
			{/zhuayi:article_list}
			</ul>
		</div>
	</div>
	<div class="index_center_right float_right">
		<div class="title zcms">
			<span class="float_left">热门推荐</span>
		</div>
		<div class="article_list">
		{zhuayi:article_list limit=1 litpic=1 cid=$cid flag='tuijian'}
			<div class="article_pic overflow">
				<img src="{zhuayi:echo.litpic($fields['litpic'],62,62)/}" width="62" />
				<div class="float_left">
					<h3><a href="{zhuayi:echo.$fields['url']/}"  target="_blank">{zhuayi:echo.$fields['title']/}</a></h3>
					{zhuayi:echo.strlens($fields['abstract'],0,40)/}...<a href="{zhuayi:echo.$fields['url']/}" target="_blank">更多>></a>
				</div>
			</div>
		{/zhuayi:article_list}
			<div class="jiange zcms"></div>
			<ul>
			{zhuayi:article_list limit=7 start=1 cid=$cid flag='tuijian'}
				<li><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
			{/zhuayi:article_list}
			</ul>
		</div>
		<div class="title zcms">
			<span class="float_left">最新推荐</span>
		</div>
		<div class="article_list">
		{zhuayi:article_list limit=1 litpic=1 start=8 cid=$cid flag='tuijian' titlelen=36}
			<div class="article_pic_230">
				<a href="{zhuayi:echo.$fields['url']/}" target="_blank"><img src="{zhuayi:echo.litpic($fields['litpic'],230,147)/}" width="230" height="147"/></a>
				<a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a>
			</div>
		{/zhuayi:article_list}
			<div class="jiange zcms"></div>
			<ul>
			{zhuayi:article_list limit=4 start=9 cid=$cid flag='tuijian'}
				<li><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
			{/zhuayi:article_list}
			</ul>
		</div>
	</div>
</div>
<div class="clear"></div>
{/zhuayi:article_class_list}
<div class="links w_960">
	<div class="title zcms">
		<span class="float_left">友情链接</span>
	</div>
	<ul>
	{zhuayi:link_list}
		<li><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
	{/zhuayi:link_list}
	</ul>
</div>
{zhuayi:include file="底部.html"/}