{zhuayi:include file="头部.html"/}
<link href="{zhuayi:echo.$path/}style/channel.css" rel="stylesheet" type="text/css" />
<div class="w_960 location">
	当前位置：
	<a href="/">首页</a> > 
	<?php foreach ($info['position'] as $val){?>
	<a href="{zhuayi:echo.$val['url']/}">{zhuayi:echo.$val['classname']/}</a> > 
	<?php }?>
	<a href="{zhuayi:echo.$info['url']/}">{zhuayi:echo.$info['title']/}</a> 正文 
</div>
<div class="w_960 overflow channel">
	<div class="float_left channel_top_left">
		<div class="title zcms"><span class="float_left">本类推荐</span></div>
		<div class="article_list">
			<div class="pic_info">
			{zhuayi:article_list limit=2 flag="tuijian" litpic=1 cid=$channelid}
				<a href="{zhuayi:echo.$fields['url']/}" target="_blank"><img src="{zhuayi:echo.litpic($fields['litpic'],135,90)/}" width="135" height="90"/></a>
			{/zhuayi:article_list}
			</div>
			{zhuayi:article_list limit=1 start=2 titlelen=36 flag="tuijian" cid=$channelid}
			<div class="tuijian">
				<h3><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></h3>
				<span>{zhuayi:echo.$fields['abstract']/}...<font><a href="{zhuayi:echo.$fields['url']/}" target="_blank">[详细]</a></font></span>
			</div>
			{/zhuayi:article_list}
			<div class="jiange zcms"></div>
			<ul>
			{zhuayi:article_list limit=3 flag="tuijian" start=4 cid=$channelid}
				<li><a href="{zhuayi:echo.$fields['classurl']/}" target="_blank">[{zhuayi:echo.$fields['classname']/}]</a> <a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
			{/zhuayi:article_list}
			</ul>
		</div>
		<div class="title zcms"><span class="float_left">热门推荐</span></div>
		<div class="article_list rementj">
			{zhuayi:article_list limit=1 start=7 titlelen=36 cid=$channelid}
			<div class="tuijian">
				<h3><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></h3>
				<span>{zhuayi:echo.$fields['abstract']/}...<font><a href="{zhuayi:echo.$fields['url']/}" target="_blank">[详细]</a></font></span>
			</div>
			{/zhuayi:article_list}
			<div class="jiange zcms"></div>
			<ul>
			{zhuayi:article_list limit=2 flag="tuijian" start=8 cid=$channelid}
				<li><a href="{zhuayi:echo.$fields['classurl']/}" target="_blank">[{zhuayi:echo.$fields['classname']/}]</a> <a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
			{/zhuayi:article_list}
			</ul>
		</div>
	</div>
	<div class="float_left channel_top_cen">
		<div class="title zcms"><span class="float_left">最新信息</span></div>
		<div class="article_list">
			{zhuayi:article_list limit=1 titlelen=36 cid=$channelid}
			<div class="tuijian">
				<h3><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></h3>
				<span>{zhuayi:echo.$fields['abstract']/}...<font><a href="{zhuayi:echo.$fields['url']/}" target="_blank">[详细]</a></font></span>
			</div>
			{/zhuayi:article_list}
			<div class="jiange zcms"></div>
			<ul>
			{zhuayi:article_list limit=8 start=1 cid=$channelid}
				<li><a href="{zhuayi:echo.$fields['classurl']/}" target="_blank">[{zhuayi:echo.$fields['classname']/}]</a> <a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
			{/zhuayi:article_list}
			</ul>
		</div>
		<div class="title zcms"><span class="float_left">最新信息</span></div>
		<div class="article_list">
			<ul>
			{zhuayi:article_list limit=6 start=9 cid=$channelid}
				<li><a href="{zhuayi:echo.$fields['classurl']/}" target="_blank">[{zhuayi:echo.$fields['classname']/}]</a> <a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
			{/zhuayi:article_list}
			</ul>
		</div>
	</div>
	<div class="float_right channel_top_right">
		<div class="title zcms"><span class="float_left">本周热榜</span></div>
		<div class="article_list">
			<ul>
				<li><B><a title='欧迪芬魅惑内衣，全场2.3折起' target='_blank' href='http://pc.heima8.com/index.php?p=118982711&c=118982461&sc=[subcode]&durl=107152441&a=106822221&cc=107159142' style="color:red">欧迪芬魅惑内衣，全场2.3折起</a></b></li>
			</ul>
			<ul class="zcms">
			{zhuayi:article_list limit=10 flag="remen" cid=$channelid}
				<li><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
			{/zhuayi:article_list}
			</ul>
		</div>
		<div class="article_list">
			{zhuayi:article_list limit=1 litpic=1 start=8 flag='remen' titlelen=34 cid=$channelid}
			<div class="article_pic_230">
				<a href="{zhuayi:echo.$fields['url']/}" target="_blank"><img src="{zhuayi:echo.litpic($fields['litpic'],230,125)/}" width="230" height="125"/></a>
				<a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a>
			</div>
			{/zhuayi:article_list}
		</div>
	</div>
</div>

<div class="w_960 overflow">
	<div class="index_top_pic_list float_left">
		<div class="title zcms">
			<span class="float_left">精彩瞬间</span>
		</div>
		<div class="article_pic_list overflow zcms">
			<a href="#" class="pic_left float_left zcms">点击左滑动</a>
			<ul class="float_left">
			{zhuayi:article_list limit=5 litpic=1 titlelen=26 cid=$channelid}
				<li <?php if ($key == 5){echo 'margin-right:0px;';}?>><a href="{zhuayi:echo.$fields['url']/}"><img src="{zhuayi:echo.litpic($fields['litpic'],'160',120)/}" height="120" /></a><br><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
			{/zhuayi:article_list}
			</ul>
			<a href="#" class="pic_right float_left zcms">点击左滑动</a>
		</div>
	</div>
</div>
{zhuayi:article_class_list parent_id=$info['id']}
<?php $cid = $fields['id'];?>
<div class="w_960 channel_list overflow">
	<div class="title zcms autotitle">
			<span class="float_left"><a href="{zhuayi:echo.$fields['url']/}">{zhuayi:echo.$fields['classname']/}</a></span>
			<span class="float_right"><a href="{zhuayi:echo.$fields['url']/}"> 更多>> </a></span>
	</div>
	<div class="channel_list_left float_left">
		<div class="title zcms"><span class="float_left">本类推荐</span></div>
		<div class="article_list">
			{zhuayi:article_list limit=2 litpic=1 cid=$cid}
			<div class="article_pic overflow">
				<a href="{zhuayi:echo.$fields['url']/}"  target="_blank"><img src="{zhuayi:echo.litpic($fields['litpic'],96,62)/}" width="62" /></a>
				<div class="float_left">
					<h3><a href="{zhuayi:echo.$fields['url']/}"  target="_blank">{zhuayi:echo.$fields['title']/}</a></h3>
					{zhuayi:echo.strlens($fields['abstract'],0,40)/}...<a href="{zhuayi:echo.$fields['url']/}" target="_blank">更多>></a>
				</div>
			</div>
			<div class="jiange zcms"></div>
			{/zhuayi:article_list}
			<ul>
			{zhuayi:article_list limit=6 start=2 cid=$cid}
				<li><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
			{/zhuayi:article_list}
			</ul>
		</div>
	</div>
	<div class="channel_list_cen float_left">
		<div class="title zcms"><span class="float_left">最新信息</span></div>
		<div class="article_list">
			<ul>
			{zhuayi:article_list limit=5 cid=$cid}
				<li><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a>
				<span>{zhuayi:echo.dtime($fields['dtime'],'m月d日')/}</span>
				</li>
			{/zhuayi:article_list}
			</ul>
		</div>
		<div class="title zcms"><span class="float_left">最新热门</span></div>
		<div class="article_list">
			<ul>
			{zhuayi:article_list limit=5 start=5 cid=$cid}
				<li><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a>
				<span>{zhuayi:echo.dtime($fields['dtime'],'m月d日')/}</span>
				</li>
			{/zhuayi:article_list}
			</ul>
		</div>
	</div>
	<div class="channel_list_right float_right">
		<div class="title zcms"><span class="float_left">热门信息</span></div>
		<div class="article_list">
			<div class="pic_info overflow">
			{zhuayi:article_list limit=2 flag="remen" litpic=1  cid=$cid }
				<div class="float_left">
					<a href="{zhuayi:echo.$fields['url']/}" target="_blank"><img src="{zhuayi:echo.litpic($fields['litpic'],96,64)/}" width="96" height="64"/></a>
					<a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a>
				</div>
			{/zhuayi:article_list}
			</div>
			<div class="jiange zcms"></div>
			<ul>
			{zhuayi:article_list limit=6 flag="remen" start=2  cid=$cid}
				<li><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
			{/zhuayi:article_list}
			</ul>
		</div>
	</div>
</div>
{/zhuayi:article_class_list}
{zhuayi:include file="底部.html"/}