{zhuayi:include file="头部.html"/}
<link href="{zhuayi:echo.$path/}style/article.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{zhuayi:echo.$path/}js/zcms.js"></script>
<div class="w_960 location">
	当前位置：
	<a href="/">首页</a> > 
	<?php foreach ($info['position'] as $val){?>
	<a href="{zhuayi:echo.$val['url']/}">{zhuayi:echo.$val['classname']/}</a> > 
	<?php }?>
	<a href="{zhuayi:echo.$info['url']/}">{zhuayi:echo.$info['title']/}</a> 正文 
</div>
<div class="w_960 overflow">
	<div class="float_left article_left">
		<h1>{zhuayi:echo.$info['title']/}</h1>
		<div class="share overflow  border-bottom">
			<a href="{zhuayi:echo.$weburl/}">{zhuayi:echo.$weburl/}</a>　
			{zhuayi:echo.dtime($info['dtime'])/}　
			来源：{zhuayi:echo.$info['source']/}　
			字体大小：<a href="javascript:fontsize('body','12')">T</a> 
			<a href="javascript:fontsize('body','14')"><font style="font-size:14px;font-weight:bold;color:#064599">T</font></a>
			<a href="javascript:fontsize('body','18')"><font style="font-size:18px;font-weight:bold;color:#064599">T</font></a>
			<!-- JiaThis Button BEGIN -->
			<div id="ckepop">
				<a href="http://www.jiathis.com/share/" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">分享到：</a>
				<a class="jiathis_button_tsina">新浪微博</a>
				<a class="jiathis_button_qzone">QQ空间</a>
				<a class="jiathis_button_t163">网易微博</a>
				<a class="jiathis_button_renren">人人网</a>
				<a class="jiathis_button_hi">百度空间</a>
				<a class="jiathis_button_tsohu">搜狐微博</a>
				<a class="jiathis_button_tqq">腾讯微博</a>
				<a class="jiathis_button_kaixin001">开心网</a>
			</div>
			<!-- JiaThis Button END -->
		</div>
		<div class="both"></div>
		<div id="body">
			{zhuayi:echo.$info['body']/}
			{zhuayi:pagelist maxnum=$maxnum page=$_REQUEST['page'] html=$htmlfile perpagenum=$article_page_len/}
		</div>
		<div class="tags">
			Tags: {zhuayi:echo.$info['tags']/}
		</div>
		<div class="infonext">
			<li class="float_left">上一篇：<a href="{zhuayi:echo.$info['pre']['url']/}">{zhuayi:echo.$info['pre']['title']/}</a></li>
			<li class="float_right">下一篇：<a href="{zhuayi:echo.$info['next']['url']/}">{zhuayi:echo.$info['next']['title']/}</a></li>
		</div>
		<div class="jiange zcms"></div>
		<div class="interrelated overflow">
			<span class="float_left">相关文章：</span>
		</div>
		<div class="interrelated_list">
			<ul class="overflow">
			{zhuayi:article_list limit=8 related=$info['related']}
				<li><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
			{/zhuayi:article_list}
			</ul>
		</div>
		<div class="jiange zcms"></div>
		<div class="interrelated overflow">
			<span class="float_left">同类文章：</span>
			<div class="float_right">
				<a title='内有隐情' target='_blank' href='http://pc.heima8.com/index.php?p=118982661&c=118982461&sc=[subcode]&durl=110986611&a=110815931&cc=110986622'>非家长陪护不可以点击</a>
				<a title='凡客购物精品折扣' target='_blank' href='http://pc.heima8.com/index.php?p=118982661&c=118982461&sc=[subcode]&durl=110986611&a=110815931&cc=110986622'>凡客购物精品折扣</a>
				<a title='品味生活，精美“表”情，卡西欧飞亚达多款名表239元起' target='_blank' href='http://pc.heima8.com/index.php?p=118982701&c=118982461&sc=[subcode]&durl=112297201&a=106822221&cc=112297212'>品味生活，精美“表”情，卡西欧飞亚达多款名表239元起</a>
			</div>
		</div>
		<div class="bright overflow">
			<div>
				<script type="text/javascript" src="http://www.153k.com/index.php?m=ads&c=show&id=18"></script>
			</div>
			<ul>
			{zhuayi:article_list limit=8 cid=$info['cid'] start=9}
				<li><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
			{/zhuayi:article_list}
			</ul>	
		</div>
	</div>
	{zhuayi:include file="右边.html"/}
</div>
<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
<script src="{zhuayi:echo.model_url('article','')/}js/article.js" type="text/javascript"></script>
<script type="text/javascript">article_generate('show','{zhuayi:echo.$info['id']/}','{zhuayi:echo.$_REQUEST['page']/}');</script>
{zhuayi:include file="底部.html"/}