<div class="clearfix header">
  
  <div class="topnav">
   <ul id="chinaz_website_links" class="accesslink">
            <li><a href="/"><span>站长之家</span></a></li>
            <li onmouseover="chinazTopBarMenu.create(this,'chinaz_website_menu_1');" onmouseout="chinazTopBarMenu.clear(this);">
                <a class="item-expand" href="/bbs/" target="_blank"><span>站长论坛</span></a>
            </li>
            <li onmouseover="chinazTopBarMenu.create(this,'chinaz_website_menu_2');" onmouseout="chinazTopBarMenu.clear(this);">
                <a class="item-expand" href="http://tool.chinaz.com" target="_blank"><span>站长工具</span></a>
            </li>
            <li><a href="http://jy.chinaz.com" target="_blank"><span>站长交易</span></a></li>
            <li><a href="http://down.chinaz.com" target="_blank"><span>源码下载</span></a></li>
            <li><a href="http://sc.chinaz.com" target="_blank"><span>站长素材</span></a></li>
            <li><a href="http://www.cnzz.com" target="_blank"><span>免费统计</span></a></li>
            <li><a href="http://www.cnidc.com" target="_blank"><span>主机网</span></a></li>
            <li><a href="http://www.idc123.com" target="_blank"><span>主机之家</span></a></li>
        </ul>
        <div id="chinaz_website_menu_1" class="topbar-hiddencontents">
            <a href="http://bbs.chinaz.com/Club/list-1.html" target="_blank">站长俱乐部</a>
            <a href="http://bbs.chinaz.com/Res/list-1.html" target="_blank">网站建设资源</a>
            <a href="http://bbs.chinaz.com/Shuiba/list-1.html" target="_blank">站长水吧</a>
        </div>
        <div id="chinaz_website_menu_2" class="topbar-hiddencontents">
            <a href="http://alexa.chinaz.com" target="_blank">ALEXA排名查询</a>
            <a href="http://seo.chinaz.com" target="_blank">SEO概况查询</a>
            <a href="http://link.chinaz.com" target="_blank">友情链接查询</a>
            <a href="http://pr.chinaz.com" target="_blank">Google PR查询</a>
            <a href="http://whois.chinaz.com" target="_blank">Whois信息查询</a>
        </div>  <span style="float:right;padding-right:8px;"><a href="/member/index.php" style="color:#CC0000;">「会员登陆」</a> - <a href="/member/index_do.php?fmdo=user&dopost=regnew" style="color:#CC0000;">「点击注册」</a></span>  
  </div>
  
  <div class="brand">
  <h1 class="site-name">{dede:global.cfg_basehost/} - {dede:global.cfg_webname/}</h1>
  <a class="site-logo" href="{dede:global.cfg_basehost/}" title="{dede:global.cfg_webname/}" rel="home"><img src="/templets/chinaz/images/logo.gif" alt="站长之家" width="165" height="60" border="0" /></a>  </div>
  
  <div class="ad-banner">
  <script src='/plus/ad_js.php?aid=1' language='javascript'></script>
  </div>
  
  <div class="ad-text"><script src='/plus/ad_js.php?aid=2' language='javascript'></script></div>

</div>

<div class="nav">
<div class="navinner">
  <ul class="navlist">
  <li><a href="/">站长之家</a></li>
  <li><a href="/html/News/" id="nav_1" onmouseover="showMenu('nav_1','subnav1')">行业资讯</a>
    <div class="subnav disable" id="subnav1">
      <p class="pointer">.</p>
      <p><span>
      <a href="/html/News/It/">业界动态</a> |
      <a href="/html/News/Invest/">收购融资</a> |
      <a href="/html/News/Portals/">门户动态</a> |
      <a href="/html/News/Search/">搜索引擎</a> |
      <a href="/html/News/Game/">网络游戏</a> |
      <a href="/html/News/Biz/">电子商务</a> |
      <a href="/html/News/Media/">广告传媒</a> |
      <a href="/html/News/Soft/">厂商开发</a>
      </span></p>
    </div>  
  </li>
  <li><a href="/html/Webmaster/" id="nav_2" onmouseover="showMenu('nav_2','subnav2')">站长在线</a>
    <div class="subnav disable" id="subnav2">
    	<p class="pointer">.</p>
      <p><span>
      <a href="/html/Webmaster/report/">站长报道</a> |
      <a href="/html/Webmaster/RecSite/">好站推荐</a> |
      <a href="/html/Webmaster/Gather/">站长聚会</a> |
      <a href="/html/Webmaster/Visit/">站长访谈</a> |
      <a href="/html/Webmaster/Club/">站长茶馆</a> |
      <a href="/html/Webmaster/Topsite/">网站排行</a>
      </span></p>
    </div>
  </li>
  <li><a href="/html/Webbiz/" id="nav_3" onmouseover="showMenu('nav_3','subnav3')">网站运营</a>
    <div class="subnav disable" id="subnav3">
      <p class="pointer">.</p>
      <p><span>
      <a href="/html/Webbiz/Exp/">建站经验</a> |
      <a href="/html/Webbiz/BizPlan/">策划盈利</a> |
      <a href="/html/Webbiz/Seo/">搜索优化</a> |
      <a href="/html/Webbiz/Promot/">网站推广</a> |
      <a href="/html/Webbiz/Free/">免费资源</a>
      </span></p>
    </div>  	
  </li>
  <li><a href="/html/Design/" id="nav_4" onmouseover="showMenu('nav_4','subnav4')">设计在线</a>
    <div class="subnav disable" id="subnav4">
      <p class="pointer">.</p>
      <p><span>
      <a href="/html/Design/Coolsite/">酷站推荐</a> |
      <a href="/html/Design/Pages/">网页设计</a> |
      <a href="/html/Design/Rules/">WEB标准</a> |
      <a href="/html/Design/Video/">视频处理</a> |
      <a href="/html/Design/Activity/">设计活动</a>
      </span></p>
    </div>  
  </li>
  <li><a href="/html/Program/" id="nav_5" onmouseover="showMenu('nav_5','subnav5')">网络编程</a>
    <div class="subnav disable" id="subnav5">
      <p class="pointer">.</p>
      <p><span>
      <a href="/html/Program/Asp/">Asp编程</a> |
      <a href="/html/Program/Php/">Php编程</a> |
      <a href="/html/Program/.Net/">.Net编程</a> |
      <a href="/html/Program/Xml/">Xml编程</a> |
      <a href="/html/Program/Access/">Access</a> |
      <a href="/html/Program/Mssql/">Mssql</a> |
      <a href="/html/Program/Mysql/">Mysql</a>
      </span></p>
    </div>  
  </li>
  <li><a href="/html/Union/" id="nav_6" onmouseover="showMenu('nav_6','subnav6')">联盟资讯</a>
    <div class="subnav disable" id="subnav6">
      <p class="pointer">.</p>
      <p><span>
      <a href="/html/Union/News/">联盟动态</a> |
      <a href="/html/Union/Intro/">联盟介绍</a> |
      <a href="/html/Union/Comment/">联盟点评</a> |
      <a href="/html/Union/Skill/">网赚技巧</a>
      </span></p>
    </div>
  </li>
  <li><a href="/html/Server/" id="nav_7" onmouseover="showMenu('nav_7','subnav7')">服务器</a>
    <div class="subnav disable" id="subnav7">
      <p class="pointer">.</p>
      <p><span>
      <a href="/html/Server/Web/">Web服务器</a> |
      <a href="/html/Server/Ftp/">Ftp服务器</a> |
      <a href="/html/Server/Mail/">Mail服务器</a> |
      <a href="/html/Server/Dns/">Dns服务器</a> |
      <a href="/html/Server/Win/">Win服务器</a> |
      <a href="/html/Server/Linux/">Linux服务器</a> |
      <a href="/html/Server/Safe/">安全防护</a>
      </span></p>
    </div>  
  </li>
  </ul>
</div>  
</div>

<div id="top_img"><script src='/plus/ad_js.php?aid=3' language='javascript'></script></div>

<div class="note"><span><a href="/member" target="_blank"><img src="/templets/chinaz/images/cust_icon.gif" align="absbottom"/> 会员投稿</a>
  <a href="http://www.chinaz.com/post/article_add.php" target="_blank"><img src="/templets/chinaz/images/td_icon.gif" align="absbottom" /> 匿名投稿</a>  
  <a href="http://www.chinaz.com/Webmaster/report/0Rb91H2009.html" target="_blank"><img src="/templets/chinaz/images/tg_icon.gif" align="absbottom"/> <b>投稿指南</b></a>
  <a href="http://www.chinaz.com/rss.php" target="_blank"><img src="http://www.chinaz.com/images/rss.gif" align="absbottom" /> RSS订阅</a></span>
  <b>站长之家通告:</b><script language="javascript" src="http://www.chinaz.com/Js/Hot_Announce.js"></script>
</div>

<iframe id="A2" src="http://images.chinaz.com/newindex_images/w-z.htm" frameborder="0" width="100%" scrolling="no" height="122"></iframe>