<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="X-UA-Compatible" content="IE=7">
<title>{zhuayi:echo.$seo['seo_title']/} - {zhuayi:echo.$webname/}</title>
<link href="{zhuayi:echo.$path/}style/style.css" type="text/css" rel="stylesheet" />
<link rel="icon" href="favicon.gif" type="image/gif" >
<meta name="keywords" content="{zhuayi:echo.$seo['seo_keywords']/}">
<meta name="description" content="{zhuayi:echo.$seo['seo_description']/}">
<script src="{zhuayi:echo.$path/}js/chinaz.js" type="text/javascript"></script>
<link href="{zhuayi:echo.$path/}images/2008/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="container">

<div class="clearfix header">
  <div class="brand">
  <h1 class="site-name">{zhuayi:echo.$weburl/} - {zhuayi:echo.$webname/}</h1>
  <a class="site-logo" href="{zhuayi:echo.$weburl/}" title="{zhuayi:echo.$webname/}" rel="home"><img src="{zhuayi:echo.$logo/}" alt="Chinaz logo" width="165" height="60" /></a>
  </div>
  
</div>

<div class="nav">
<div class="navinner">
  <ul class="navlist">
  <li><a href="/">首页</a></li>
  {zhuayi:article_class_list parent_id=0 nav=1}
  <li><a href="{zhuayi:echo.$fields['url']/}" id="nav_<?php echo $key;?>" onmouseover="showMenu('nav_<?php echo $key;?>','subnav<?php echo $key;?>')" class=>{zhuayi:echo.$fields['classname']/}</a>
  </li>
  {/zhuayi:article_class_list}
  </ul>
</div>  
</div>

<div class="note"><span>
  <a href="http://www.chinaz.com/rss.php"><img src="{zhuayi:echo.$path/}images/rss.gif" align="absbottom" /> RSS订阅</a></span>
  <b>站长资讯通告:</b><script language="javascript" src="http://www.chinaz.com/Js/Hot_Announce.js"></script>

</div>
