<div class="clearfix header">
  <div class="brand">
  <h1 class="site-name">{zhuayi:echo.$weburl/} - {zhuayi:echo.$webname/}</h1>
  <a class="site-logo" href="{zhuayi:echo.$weburl/}" title="{zhuayi:echo.$webname/}" rel="home"><img src="{zhuayi:echo.$path/}images/logo.gif" alt="Chinaz logo" width="165" height="60" /></a>
  </div>
  
</div>

<div class="nav">
<div class="navinner">
  <ul class="navlist">
  <li><a href="/">首页</a></li>
  {zhuayi:article_class_list parent_id=1}
  <li><a href="/html/News/Index.html" id="nav_1" onmouseover="showMenu('nav_1','subnav1')" class="current">{zhuayi:echo.$fields['classname']/}</a>
  </li>
  {/zhuayi:article_class_list}
  </ul>
</div>  
</div>

<div class="note"><span>
  <a href="http://www.chinaz.com/rss.php"><img src="{zhuayi:echo.$path/}images/rss.gif" align="absbottom" /> RSS订阅</a></span>
  <b>站长资讯通告:</b><script language="javascript" src="http://www.chinaz.com/Js/Hot_Announce.js"></script>

</div>
