{zhuayi:include file="头部.html"/}
<!-- /header -->
	<div class="weizhi">
		<b>您的位置</b>：
		<?php foreach ($info['position'] as $val){?>
		<a href="{zhuayi:echo.$val['url']/}">{zhuayi:echo.$val['classname']/}</a> > 
		<?php }?>
		阅读资讯：{zhuayi:echo.$info['title']/}
	</div>
</form>
<!-- Digg-->


<div class="clearfix wrap layout-cols2">
	<div class="col1">
		<div id="news">
			<h1>{zhuayi:echo.$info['title']/}</h1>
			<div class="times">
			{zhuayi:echo.dtime($info['dtime'],2)/}    
			来源:{zhuayi:echo.$info['source']/}
			【<a href="javascript:doZoom(16)">大</a> <a href="javascript:doZoom(14)">中</a> <a href="javascript:doZoom(12)">小</a>】
			<a href="#">收藏本文</a> <a href="javascript:void((function(s,d,e,r,l,p,t,z,c){var%20f='http://v.t.sina.com.cn/share/share.php?appkey=2173988749',u=z||d.location,p=['&url=',e(u),'&title=',e(t||d.title),'&source=',e(r),'&sourceUrl=',e(l),'&content=',c||'gb2312','&pic=',e(p||'')].join('');function%20a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=440,height=430,left=',(s.width-440)/2,',top=',(s.height-430)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else%20a();})(screen,document,encodeURIComponent,'','','','{dede:field.title/}','',''));">分享至微博</a>
			</div>

			<div class="content" id="textbody">
				{zhuayi:echo.$info['body']/}
			</div>
			{zhuayi:pagelist maxnum=$maxnum page=$_REQUEST['page'] html=$htmlfile/}
			<div class="text_tag">
				<h5>Tags：<b>{zhuayi:echo.$info['tags']/}</b> &nbsp;</h5>
				<span>责任编辑：Zcms官方测试站</span>
				<li style="display:none;"></li>
			</div>

			<div class="xg">
				<li style="white-space:nowrap;text-overflow:ellipsis;overflow: hidden;float:right;"> 上一篇：<a href="{zhuayi:echo.$info['pre']['url']/}">{zhuayi:echo.$info['pre']['title']/}</a></li>

				<li style="white-space:nowrap;text-overflow:ellipsis;overflow: hidden;float:left;">下一篇：<a href="{zhuayi:echo.$info['next']['url']/}">{zhuayi:echo.$info['next']['title']/}</a></li>
			</div>
			
			<div class="box_xg">
				<div class="title_xg">相关文章列表</div>
				<ul>
				{zhuayi:article_list limit=8 related=$info['related']}
				<li><a href="{zhuayi:echo.$fields['url']/}" target="_blank">{zhuayi:echo.$fields['title']/}</a></li>
				{/zhuayi:article_list}
				</ul>
			</div>
			
		</div>
	</div>
	<div class="col2">
		{zhuayi:include file="文章右侧.html"/}
	</div>
</div>
{zhuayi:include file="底部.html"/}
<script src="{zhuayi:echo.model_url('admin','admin')/}js/jquery.min.js" type="text/javascript"></script>
<script src="{zhuayi:echo.model_url('article','')/}js/article.js" type="text/javascript"></script>
<script type="text/javascript">
//article_generate('{zhuayi:echo.$info['id']/}');</script>
</body>
</html>